In [1]:
import pandas as pd
import numpy as np 
import matplotlib 
import time
import pymysql

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

## SQL参数

In [3]:
jdt_db = pymysql.connect(host='172.16.1.231',user='jdys_select',password ='jdys_select2020' ,db= 'jdt_db',charset = 'utf8')

## 导入数据  jdt_user数据

In [4]:
start_time  = time.time()


sql_2022_01 = "SELECT id AS 'id', nickname AS '昵称', gender AS '性别', `level` AS '等级', birthday AS '生日', age AS '年龄', interest_id AS '兴趣ID', work_id AS '行业ID', direct_invite_num AS '直邀用户数', is_sponsor AS '是否主办方', is_lecturer AS '是否讲师', score AS '积分', is_tourist AS '是否游客'  ,is_tourist AS '是否游客', successions AS '连续登录天数', maxsuccessions AS '最大连续登录天数',FROM_UNIXTIME( prevtime, '%Y-%m-%d %H:%i:%s' )  AS '上次登录时间', FROM_UNIXTIME( logintime, '%Y-%m-%d %H:%i:%s' ) AS '登陆时间', FROM_UNIXTIME( updatetime, '%Y-%m-%d %H:%i:%s' ) AS '更新时间', user_province AS '省', user_city AS '市', user_area AS '区', study_time '累积学习时间/秒', last_study_date AS '最后一次学习时间', study_days AS '连续学习天数', total_lesson AS '学习课程数'    ,FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) AS '加入时间' FROM jdt_user  WHERE    jointime >=  1609430400 AND   jointime < 1612108800"

user_data_2021_01 = pd.read_sql(sql_2022_01,jdt_db)


elapsed = (time.time() - start_time)
print("时间:",elapsed)

时间: 9.868735074996948

In [5]:
user_data_2021_01.columns

Index(['id', '昵称', '性别', '等级', '生日', '年龄', '兴趣ID', '行业ID', '直邀用户数', '是否主办方',
       '是否讲师', '积分', '是否游客', '是否游客', '连续登录天数', '最大连续登录天数', '上次登录时间', '登陆时间',
       '更新时间', '省', '市', '区', '累积学习时间/秒', '最后一次学习时间', '连续学习天数', '学习课程数',
       '加入时间'],
      dtype='object')

In [6]:
user_data_2021_01.head()

,id,昵称,性别,等级,生日,年龄,兴趣ID,行业ID,直邀用户数,是否主办方,是否讲师,积分,是否游客,是否游客,连续登录天数,最大连续登录天数,上次登录时间,登陆时间,更新时间,省,市,区,累积学习时间/秒,最后一次学习时间,连续学习天数,学习课程数,加入时间
0,757216,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:00:56,2021-01-01 00:00:56,2021-01-01 00:00:56,江苏省,常州市,None,0,,0,0,2021-01-01 00:00:56
1,757217,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:01:00,2021-01-01 00:01:00,2021-01-01 00:01:00,广东省,东莞市,None,0,,0,0,2021-01-01 00:01:00
2,757218,为善最乐,2,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:01:51,2021-01-11 11:44:23,2021-01-11 11:44:23,北京市,北京市,None,0,,0,0,2021-01-01 00:01:51
3,757219,幸运权嫂,2,1,None,0,None,None,0,0,0,0,0,0,1,2,2021-01-02 13:46:32,2021-01-04 12:27:09,2021-01-04 12:27:09,广西壮族自治区,桂林市,None,0,,0,0,2021-01-01 00:01:59
4,757220,水北卢氏养蜂场批发零售蜂产品,1,1,None,0,None,None,0,0,0,0,0,0,1,2,2021-01-11 13:02:40,2021-01-19 10:33:54,2021-01-19 10:33:54,江西省,萍乡市,None,336,2021-01-11,1,1,2021-01-01 00:03:35

## 导入jdt_conference_order用户数据

In [7]:
start_time  = time.time()

sql_conference_order = "SELECT a.buyer_id AS 'id', a.buyer_name AS '姓名', a.buyer_mobile AS '电话',a.is_offline AS '线上/线下会务',COUNT(a.buyer_id) AS '会务订单', a.order_from AS '终端类型'  FROM  jdt_conference_order  AS a  LEFT JOIN jdt_user AS b  ON a.buyer_id = b.id WHERE  b.jointime >= 1609430400  AND    b.jointime <1612108800  GROUP BY  a.is_offline, a.buyer_id"


conference_order = pd.read_sql(sql_conference_order,jdt_db)



elapsed = (time.time() - start_time)
print("时间:",elapsed)

时间: 1.2080435752868652

In [8]:
# user_data_2021_three = pd.read_csv(r'D:\DTy_work\dataframe\User_portrait_data\sql_three.csv',sep='\t')

In [9]:
conference_order.columns = ['id','姓名','电话','线上/线下会务','会务订单总数','终端类型']

In [10]:
conference_order

           id   姓名           电话  线上/线下会务  会务订单总数  终端类型
0      757261  柳丽娜  15166384025        2      14     1
1      757261  柳丽娜  15166384025        1       4     1
2      757272  郭开英  13451184980        1       2     1
3      757273  郑苗娟  15988241276        1       6     1
4      757273  郑苗娟  15988241276        2      29     1
...       ...  ...          ...      ...     ...   ...
16412  849984  沈艳月  15514361929        1      38     1
16413  849984  沈艳月  15514361929        2     101     1
16414  849994       13356588938        2       6     1
16415  849994       13356588938        1       6     1
16416  850005  罗卿芸  13138951343        1       3     1

[16417 rows x 6 columns]

In [11]:
user_data_2021_three_x = conference_order[conference_order['线上/线下会务'] == 2]
user_data_2021_three_y = conference_order[conference_order['线上/线下会务'] == 1]

In [12]:
user_data_2021_three_x['线上会务订单数'] = user_data_2021_three_x['会务订单总数']
user_data_2021_three_x['线下会务订单数'] =0

C:\Users\cy176\AppData\Local\Temp/ipykernel_7044/337705555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_data_2021_three_x['线上会务订单数'] = user_data_2021_three_x['会务订单总数']
C:\Users\cy176\AppData\Local\Temp/ipykernel_7044/337705555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_data_2021_three_x['线下会务订单数'] =0

In [13]:
user_data_2021_three_y['线下会务订单数'] = user_data_2021_three_y['会务订单总数']
user_data_2021_three_y['线上会务订单数'] = 0

C:\Users\cy176\AppData\Local\Temp/ipykernel_7044/747346714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_data_2021_three_y['线下会务订单数'] = user_data_2021_three_y['会务订单总数']
C:\Users\cy176\AppData\Local\Temp/ipykernel_7044/747346714.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user_data_2021_three_y['线上会务订单数'] = 0

In [14]:
# 会务1,2组合
user_data_2021_three_drop = pd.concat([user_data_2021_three_x,user_data_2021_three_y],axis=0)[['id','姓名','电话','线上/线下会务','会务订单总数','线上会务订单数','线下会务订单数']]

In [15]:
# 1,2组合数据完全干净
user_data_2021_three_clean = user_data_2021_three_drop.drop_duplicates(subset=['id'],keep=False,inplace=False)

In [16]:
# 线上线下会务匹配进行找出  条件3
user_data_2021_three_3 = pd.merge(user_data_2021_three_x,user_data_2021_three_y,on=['id'])

In [17]:
user_data_2021_three_3

,id,姓名_x,电话_x,线上/线下会务_x,会务订单总数_x,终端类型_x,线上会务订单数_x,线下会务订单数_x,姓名_y,电话_y,线上/线下会务_y,会务订单总数_y,终端类型_y,线下会务订单数_y,线上会务订单数_y
0,757261,柳丽娜,15166384025,2,14,1,14,0,柳丽娜,15166384025,1,4,1,4,0
1,757273,郑苗娟,15988241276,2,29,1,29,0,郑苗娟,15988241276,1,6,1,6,0
2,757281,韦荫涛,15015567780,2,4,1,4,0,韦荫涛,15015567780,1,1,1,1,0
3,757327,邵钰乔,13693451486,2,1,1,1,0,邵钰乔,13693451486,1,2,1,2,0
4,757330,彭彬,15200873641,2,56,1,56,0,彭彬,15200873641,1,22,1,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5216,849926,盛月凤,13086220186,2,14,1,14,0,盛月凤,13086220186,1,3,1,3,0
5217,849933,庞啟朝,16609150888,2,11,1,11,0,庞啟朝,16609150888,1,6,1,6,0
5218,849955,莫艳,18183329695,2,9,1,9,0,莫艳,18183329695,1,2,1,2,0
5219,849984,沈艳月,15514361929,2,101,1,101,0,沈艳月,15514361929,1,38,1,38,0
5220,849994,,13356588938,2,6,1,6,0,,13356588938,1,6,1,6,0

In [18]:
user_data_2021_three_3 = user_data_2021_three_3.rename(columns={'姓名_x':'姓名','电话_x':'电话','线上/线下会务_x':'线上/线下会务','线上会务订单数_x':'线上会务订单数','线下会务订单数_y':'线下会务订单数','会务订单总数_x':'会务订单总数'})[['id','姓名','电话','线上/线下会务','会务订单总数','线上会务订单数','线下会务订单数']]

user_data_2021_three_3['线上/线下会务'] = 3

conference_order_sum = pd.concat([user_data_2021_three_3,user_data_2021_three_clean])

In [19]:
conference_order_sum['会务订单总数'] =conference_order_sum['线上会务订单数'] +  conference_order_sum['线下会务订单数']

In [20]:
conference_order_sum

           id   姓名           电话  线上/线下会务  会务订单总数  线上会务订单数  线下会务订单数
0      757261  柳丽娜  15166384025        3      18       14        4
1      757273  郑苗娟  15988241276        3      35       29        6
2      757281  韦荫涛  15015567780        3       5        4        1
3      757327  邵钰乔  13693451486        3       3        1        2
4      757330   彭彬  15200873641        3      78       56       22
...       ...  ...          ...      ...     ...      ...      ...
16400  849932   阿珠  13655701133        1       2        0        2
16409  849959  石慧敏  18657413934        1       1        0        1
16410  849961   蔡琳  15638241345        1       1        0        1
16411  849972  刘云鹏  13518621567        1       1        0        1
16416  850005  罗卿芸  13138951343        1       3        0        3

[11196 rows x 7 columns]

In [21]:
conference_order_sum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11196 entries, 0 to 16416
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       11196 non-null  int64
 1   姓名       11191 non-null  object
 2   电话       11191 non-null  object
 3   线上/线下会务  11196 non-null  int64
 4   会务订单总数   11196 non-null  int64
 5   线上会务订单数  11196 non-null  int64
 6   线下会务订单数  11196 non-null  int64
dtypes: int64(5), object(2)
memory usage: 699.8+ KB

In [22]:
user_data_2021_01_sum1 = user_data_2021_01.merge(conference_order_sum,on= 'id',how =  'left')

In [23]:
user_data_2021_01_sum1

,id,昵称,性别,等级,生日,年龄,兴趣ID,行业ID,直邀用户数,是否主办方,是否讲师,积分,是否游客,是否游客,连续登录天数,最大连续登录天数,上次登录时间,登陆时间,更新时间,省,市,区,累积学习时间/秒,最后一次学习时间,连续学习天数,学习课程数,加入时间,姓名,电话,线上/线下会务,会务订单总数,线上会务订单数,线下会务订单数
0,757216,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:00:56,2021-01-01 00:00:56,2021-01-01 00:00:56,江苏省,常州市,None,0,,0,0,2021-01-01 00:00:56,NaN,NaN,NaN,NaN,NaN,NaN
1,757217,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:01:00,2021-01-01 00:01:00,2021-01-01 00:01:00,广东省,东莞市,None,0,,0,0,2021-01-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN
2,757218,为善最乐,2,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:01:51,2021-01-11 11:44:23,2021-01-11 11:44:23,北京市,北京市,None,0,,0,0,2021-01-01 00:01:51,NaN,NaN,NaN,NaN,NaN,NaN
3,757219,幸运权嫂,2,1,None,0,None,None,0,0,0,0,0,0,1,2,2021-01-02 13:46:32,2021-01-04 12:27:09,2021-01-04 12:27:09,广西壮族自治区,桂林市,None,0,,0,0,2021-01-01 00:01:59,NaN,NaN,NaN,NaN,NaN,NaN
4,757220,水北卢氏养蜂场批发零售蜂产品,1,1,None,0,None,None,0,0,0,0,0,0,1,2,2021-01-11 13:02:40,2021-01-19 10:33:54,2021-01-19 10:33:54,江西省,萍乡市,None,336,2021-01-11,1,1,2021-01-01 00:03:35,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92767,850002,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-31 23:54:10,2021-01-31 23:54:10,2021-01-31 23:54:10,新疆维吾尔自治区,伊犁哈萨克自治州,None,0,,0,0,2021-01-31 23:54:10,NaN,NaN,NaN,NaN,NaN,NaN
92768,850003,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-31 23:55:27,2021-01-31 23:55:27,2021-01-31 23:55:27,江苏省,南京市,None,0,,0,0,2021-01-31 23:55:27,NaN,NaN,NaN,NaN,NaN,NaN
92769,850004,百里守约,0,1,2007-01-02,0,None,None,0,0,0,0,0,0,1,2,2021-03-18 16:04:45,2021-03-18 16:38:36,2021-03-18 16:38:36,广东省,佛山市,None,1479,2021-02-01,1,2,2021-01-31 23:55:49,NaN,NaN,NaN,NaN,NaN,NaN
92770,850005,罗春芸,2,1,None,0,None,None,0,0,0,4,0,0,1,2,2021-09-01 21:21:15,2022-01-19 12:40:11,2022-01-19 12:40:11,海南省,海口市,None,7475,2022-01-19,1,25,2021-01-31 23:58:01,罗卿芸,13138951343,1.0,3.0,0.0,3.0
92771,850006,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-31 23:59:51,2021-01-31 23:59:51,2021-01-31 23:59:51,重庆市,重庆市,None,0,,0,0,2021-01-31 23:59:51,NaN,NaN,NaN,NaN,NaN,NaN

## 导入jdt_user_bank

In [24]:
start_time  = time.time()


sql_user_bank = "SELECT	user_id as 'id', id_num as '身份证号' from  jdt_user_bank"

user_bank = pd.read_sql(sql_user_bank,jdt_db)


elapsed = (time.time() - start_time)
print("时间:",elapsed)

时间: 0.5152037143707275

In [25]:
user_bank

            id                身份证号
0       125106  362123197306083618
1        58656  522428198512220217
2        27320  341225198812056354
3        27320  341225198812056354
4        29543  513434197810035134
...        ...                 ...
37751  1917167  450881198607127123
37752  1804843  370402196310141024
37753  1763517  533222196205300027
37754   568703  330824195612250048
37755  1729672  44092419790522365X

[37756 rows x 2 columns]

In [26]:
user_data_2021_01_sum2 = user_data_2021_01_sum1.merge(user_bank,on= 'id',how =  'left')

In [27]:
user_data_2021_01_sum2.head(1)

,id,昵称,性别,等级,生日,年龄,兴趣ID,行业ID,直邀用户数,是否主办方,是否讲师,积分,是否游客,是否游客,连续登录天数,最大连续登录天数,上次登录时间,登陆时间,更新时间,省,市,区,累积学习时间/秒,最后一次学习时间,连续学习天数,学习课程数,加入时间,姓名,电话,线上/线下会务,会务订单总数,线上会务订单数,线下会务订单数,身份证号
0,757216,,0,1,None,0,None,None,0,0,0,0,0,0,1,1,2021-01-01 00:00:56,2021-01-01 00:00:56,2021-01-01 00:00:56,江苏省,常州市,None,0,,0,0,2021-01-01 00:00:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##  数据清洗，tableau备用

In [28]:
# 数据清洗

In [29]:
user_data_2021_01_sum2['姓名'] = user_data_2021_01_sum2['姓名'].fillna('未知')
user_data_2021_01_sum2['电话'] = user_data_2021_01_sum2['电话'].fillna(0)
user_data_2021_01_sum2['线上/线下会务'] = user_data_2021_01_sum2['线上/线下会务'].fillna(0)
user_data_2021_01_sum2['最后一次学习时间'] = user_data_2021_01_sum2['最后一次学习时间'].fillna(0)
user_data_2021_01_sum2['行业ID'] = user_data_2021_01_sum2['行业ID'].fillna(0)
user_data_2021_01_sum2['兴趣ID'] = user_data_2021_01_sum2['兴趣ID'].fillna(0)
user_data_2021_01_sum2['生日'] = user_data_2021_01_sum2['生日'].fillna(0)
user_data_2021_01_sum2['身份证号'] = user_data_2021_01_sum2['身份证号'].fillna(0)

In [30]:
user_data_2021_01_sum2.isnull().any()

id          False
昵称          False
性别          False
等级          False
生日          False
年龄          False
兴趣ID        False
行业ID        False
直邀用户数       False
是否主办方       False
是否讲师        False
积分          False
是否游客        False
是否游客        False
连续登录天数      False
最大连续登录天数    False
上次登录时间      False
登陆时间        False
更新时间        False
省            True
市            True
区            True
累积学习时间/秒    False
最后一次学习时间    False
连续学习天数      False
学习课程数       False
加入时间        False
姓名          False
电话          False
线上/线下会务     False
会务订单总数       True
线上会务订单数      True
线下会务订单数      True
身份证号        False
dtype: bool

In [31]:
user_data_2021_01_sum2['new_time'] = pd.datetime.now()

C:\Users\cy176\AppData\Local\Temp/ipykernel_7044/1507108500.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  user_data_2021_01_sum2['new_time'] = pd.datetime.now()

In [32]:
user_data_2021_01_sum2['加入时间'] = pd.to_datetime(user_data_2021_01_sum2['加入时间'], format='%Y-%m-%d')

In [33]:
user_data_2021_01_sum2['register_time'] = (user_data_2021_01_sum2['new_time'] - user_data_2021_01_sum2['加入时间']).apply(lambda x : x.days)

In [34]:
user_data_2021_01_sum2['born'] =  user_data_2021_01_sum2['身份证号'].str[6:10]
user_data_2021_01_sum2['born'] = user_data_2021_01_sum2['born'].fillna(2022)
user_data_2021_01_sum2['born']  = user_data_2021_01_sum2['born'] .astype(int)

In [35]:
user_data_2021_01_sum2['年龄'] = 2022 - user_data_2021_01_sum2['born']

In [36]:
user_data_2021_01_sum2.dtypes

id                        int64
昵称                       object
性别                        int64
等级                        int64
生日                       object
年龄                        int32
兴趣ID                     object
行业ID                     object
直邀用户数                     int64
是否主办方                     int64
是否讲师                      int64
积分                        int64
是否游客                      int64
是否游客                      int64
连续登录天数                    int64
最大连续登录天数                  int64
上次登录时间                   object
登陆时间                     object
更新时间                     object
省                        object
市                        object
区                        object
累积学习时间/秒                  int64
最后一次学习时间                 object
连续学习天数                    int64
学习课程数                     int64
加入时间             datetime64[ns]
姓名                       object
电话                       object
线上/线下会务                 float64
会务订单总数                  float64
线上会务订单数                 float64
线下会务订单数                 float64
身份证号                     object
new_time         datetime64[ns]
register_time             int64
born                      int32
dtype: object

In [37]:
user_data_2021_01_sum2.head()

,id,昵称,性别,等级,生日,年龄,兴趣ID,行业ID,直邀用户数,是否主办方,是否讲师,积分,是否游客,是否游客,连续登录天数,最大连续登录天数,上次登录时间,登陆时间,更新时间,省,市,区,累积学习时间/秒,最后一次学习时间,连续学习天数,学习课程数,加入时间,姓名,电话,线上/线下会务,会务订单总数,线上会务订单数,线下会务订单数,身份证号,new_time,register_time,born
0,757216,,0,1,0,0,0,0,0,0,0,0,0,0,1,1,2021-01-01 00:00:56,2021-01-01 00:00:56,2021-01-01 00:00:56,江苏省,常州市,None,0,,0,0,2021-01-01 00:00:56,未知,0,0.0,NaN,NaN,NaN,0,2022-03-21 18:38:53.534748,444,2022
1,757217,,0,1,0,0,0,0,0,0,0,0,0,0,1,1,2021-01-01 00:01:00,2021-01-01 00:01:00,2021-01-01 00:01:00,广东省,东莞市,None,0,,0,0,2021-01-01 00:01:00,未知,0,0.0,NaN,NaN,NaN,0,2022-03-21 18:38:53.534748,444,2022
2,757218,为善最乐,2,1,0,0,0,0,0,0,0,0,0,0,1,1,2021-01-01 00:01:51,2021-01-11 11:44:23,2021-01-11 11:44:23,北京市,北京市,None,0,,0,0,2021-01-01 00:01:51,未知,0,0.0,NaN,NaN,NaN,0,2022-03-21 18:38:53.534748,444,2022
3,757219,幸运权嫂,2,1,0,0,0,0,0,0,0,0,0,0,1,2,2021-01-02 13:46:32,2021-01-04 12:27:09,2021-01-04 12:27:09,广西壮族自治区,桂林市,None,0,,0,0,2021-01-01 00:01:59,未知,0,0.0,NaN,NaN,NaN,0,2022-03-21 18:38:53.534748,444,2022
4,757220,水北卢氏养蜂场批发零售蜂产品,1,1,0,0,0,0,0,0,0,0,0,0,1,2,2021-01-11 13:02:40,2021-01-19 10:33:54,2021-01-19 10:33:54,江西省,萍乡市,None,336,2021-01-11,1,1,2021-01-01 00:03:35,未知,0,0.0,NaN,NaN,NaN,0,2022-03-21 18:38:53.534748,444,2022

In [38]:
user_data_2021_01_sum2['count'] = 1

In [39]:
user_data_2021_01_sum2.to_csv(r'D:\DTy_work\dataframe\User_portrait_data\to_data\user_data_2021_01_sum2.csv')