In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [8]:
df = pd.DataFrame(
    {
        'id': [3566841, 6541227, 3512441],
        'sex': ['male', 'Female', 'Female'],
        'level': ['high', 'low', 'middle'],
        'score': [1, 2, 3]
    }
)
print(df)

        id     sex   level  score
0  3566841    male    high      1
1  6541227  Female     low      2
2  3512441  Female  middle      3

In [ ]:
# 使用sklearn表值转化
# 拆分ID和数据列
id_data = df[['id']]  #获得id列
# 指定转换额列
raw_conbert_data = df.iloc[:,1:]
print(raw_conbert_data)

In [5]:
# 亚编码对象
model_enc = OneHotEncoder()
# 开始标志转换
df_new2 = model_enc.fit_transform(raw_conbert_data).toarray()
# 合并数据
df_all = pd.concat((id_data,pd.DataFrame(df_new2)),axis=1)
print(df_all)

        id    0    1    2    3    4    5    6    7
0  3566841  0.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
1  6541227  1.0  0.0  0.0  1.0  0.0  0.0  1.0  0.0
2  3512441  1.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0

In [6]:
# pandas的get_dummuies 词方法只会对数值类型的数据做转化
df_new3 = pd.get_dummies(raw_conbert_data)
df_all2 = pd.concat((id_data,df_new3),axis=1)
print(df_all2)

        id  score  sex_Female  sex_male  level_high  level_low  level_middle
0  3566841      1           0         1           1          0             0
1  6541227      2           1         0           0          1             0
2  3512441      3           1         0           0          0             1

In [9]:
import pandas as pd
car_sales = pd.read_csv('car_data.csv')
car_sales.head()

       date_t     cnt
0  2012-12-31     NaN
1  2013-01-01     NaN
2  2013-01-02    68.0
3  2013-01-03    36.0
4  2013-01-04  5565.0

In [10]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 2 columns):
date_t    1512 non-null object
cnt       1032 non-null float64
dtypes: float64(1), object(1)
memory usage: 23.7+ KB

In [11]:
car_sales.describe()

               cnt
count  1032.000000
mean   1760.124031
std    1153.164214
min      12.000000
25%    1178.750000
50%    1774.000000
75%    2277.750000
max    7226.000000

In [12]:
car_sales['date_t'].dtype

dtype('O')

In [13]:
car_sales.loc[:,'date'] = pd.to_datetime(car_sales['date_t'])
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 3 columns):
date_t    1512 non-null object
cnt       1032 non-null float64
date      1512 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 35.5+ KB

In [14]:
# 取出几月份
car_sales.loc[:,'month'] = car_sales['date'].dt.month
# 取出来是几号
car_sales.loc[:,'dom'] = car_sales['date'].dt.day
# 取出一年当中的第几天
car_sales.loc[:,'doy'] = car_sales['date'].dt.dayofyear
# 取出星期几
car_sales.loc[:,'dow'] = car_sales['date'].dt.dayofweek
car_sales.head()

       date_t     cnt       date  month  dom  doy  dow
0  2012-12-31     NaN 2012-12-31     12   31  366    0
1  2013-01-01     NaN 2013-01-01      1    1    1    1
2  2013-01-02    68.0 2013-01-02      1    2    2    2
3  2013-01-03    36.0 2013-01-03      1    3    3    3
4  2013-01-04  5565.0 2013-01-04      1    4    4    4