In [76]:
from demo  import jdt_db
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import time

In [ ]:
### 本月时间计算
sql_time_min ="'2022-07-01 00:00:00'"
sql_time_max ="'2022-08-01 00:00:00'"
### 上个月时间
sql_old_time_min ="'2022-06-01 00:00:00'"
sql_old_time_max ="'2022-07-01 00:00:00'"
### 去年月时间
sql_old_time_min_1 ="'2021-07-01 00:00:00'"
sql_old_time_max_1 ="'2021-08-01 00:00:00'"
### 前个月时间
sql_old_time_min_2 ="'2022-05-01 00:00:00'"
sql_old_time_max_2 ="'2022-06-01 00:00:00'"
# 时间戳
list_time1 = 1654012800
list_time2 = 1656604800
list_time3 = 1659283200
# 90天时间
day_90_sql_time_1= "'2022-05-01 00:00:00'"
day_90_sql_time_2= "'2022-04-01 00:00:00'"

# 2.用户活跃

### 2.1用户活跃数据导入

In [64]:
# 本月用户活跃次数
user_huoyue_sql_1 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >=" + sql_time_min + "  and  updated_at < " + sql_time_max
print(user_huoyue_sql_1)
print('--' * 20)
user_huoyue_sql_2 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >=" + sql_old_time_min + "  and  updated_at < " + sql_old_time_max
print(user_huoyue_sql_2)
print('--' * 20)
user_huoyue_sql_3 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >=" + sql_old_time_min_1 + "  and  updated_at < " + sql_old_time_max_1
print(user_huoyue_sql_3)
print('--' * 20)
user_old_active_sql_1 = "SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= " + sql_time_min    + "   AND updated_at < " + sql_time_max + "      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= " + sql_time_min    + "  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_time_max + ")"
print(user_old_active_sql_1)
print('--' * 20)
user_old_active_sql_2 = "SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= " + sql_old_time_min    + "   AND updated_at < " + sql_old_time_max + "      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= " + sql_old_time_min    + "  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max + ")"
print(user_old_active_sql_1)
print('--' * 20)
user_old_active_sql_3 = "SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= " + sql_old_time_min_1    + "   AND updated_at < " + sql_old_time_max_1 + "      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= " + sql_old_time_min_1    + "  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max_1 + ")"
print(user_old_active_sql_3)
print('--' * 20)
user_old_active_sql_4 = "SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >  " + sql_old_time_min_2    + " AND updated_at < " + sql_old_time_max_2 + "    AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= " + sql_old_time_min_2   + "  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <  " + sql_old_time_max_2 + ")"
print(user_old_active_sql_4)
print('--' * 20)
user_class_count_1 = "    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= " + sql_time_max    + "      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP(" + sql_time_max    + "  )    OR jointime IS NULL    GROUP BY group_id"
print(user_class_count_1)
print('--' * 20)
user_class_count_2 = "    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= " + sql_old_time_max    + "      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP(" + sql_old_time_max    + "  )    OR jointime IS NULL    GROUP BY group_id"
print(user_class_count_2)
days_90_1 = "   SELECT   	user_id,   	group_id,   	province,   	city,   	created_at,   	updated_at,   	DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'    FROM   	jdt_user_logon_in    WHERE   	updated_at > " + sql_time_min+"  	AND updated_at < " + sql_time_max+" AND user_id NOT IN ( SELECT user_id FROM jdt_user_logon_in WHERE updated_at >" +day_90_sql_time_1 +"   	AND updated_at < " +sql_time_min + " ) AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= "+day_90_sql_time_1 +"    	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <"+ sql_time_max +" )"
print(user_class_count_2)
days_90_2 = "   SELECT   	user_id,   	group_id,   	province,   	city,   	created_at,   	updated_at,   	DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'    FROM   	jdt_user_logon_in    WHERE   	updated_at > " + sql_old_time_min+"  	AND updated_at < " + sql_old_time_max+" AND user_id NOT IN ( SELECT user_id FROM jdt_user_logon_in WHERE updated_at >" +day_90_sql_time_2 +"   	AND updated_at < " +sql_old_time_min + " ) AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= "+day_90_sql_time_2 +"    	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <"+ sql_old_time_max +" )"
print(user_class_count_2)

SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >='2022-07-01 00:00:00'  and  updated_at < '2022-08-01 00:00:00'
----------------------------------------
SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >='2022-06-01 00:00:00'  and  updated_at < '2022-07-01 00:00:00'
----------------------------------------
SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >='2021-07-01 00:00:00'  and  updated_at < '2021-08-01 00:00:00'
----------------------------------------
SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= '2022-07-01 00:00:00'   AND updated_at < '2022-08-01 00:00:00'      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-07-01 00:00:00'  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-08-01 00:00:00')
----------------------------------------
SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= '2022-07-01 00:00:00'   AND updated_at < '2022-08-01 00:00:00'      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-07-01 00:00:00'  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-08-01 00:00:00')
----------------------------------------
SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >= '2021-07-01 00:00:00'   AND updated_at < '2021-08-01 00:00:00'      AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2021-07-01 00:00:00'  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2021-08-01 00:00:00')
----------------------------------------
SELECT    user_id,    group_id,    province,    city,    created_at,    updated_at,    DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time'     FROM    jdt_user_logon_in     WHERE    updated_at >  '2022-05-01 00:00:00' AND updated_at < '2022-06-01 00:00:00'    AND user_id NOT IN ( SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-05-01 00:00:00'  AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) <  '2022-06-01 00:00:00')
----------------------------------------
    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= '2022-08-01 00:00:00'      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP('2022-08-01 00:00:00'  )    OR jointime IS NULL    GROUP BY group_id
----------------------------------------
    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= '2022-07-01 00:00:00'      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP('2022-07-01 00:00:00'  )    OR jointime IS NULL    GROUP BY group_id
    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= '2022-07-01 00:00:00'      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP('2022-07-01 00:00:00'  )    OR jointime IS NULL    GROUP BY group_id
    SELECT  group_id  AS 'class', count(id) AS '人数'    FROM (    SELECT a.id, IFNULL(b.group_id, a.group_id) AS group_id, jointime    FROM jdt_user a    LEFT JOIN (    SELECT user_id, min(user_upgrade_group) - 1 AS group_id    FROM jdt_user_upgrade_log    WHERE created_at >= '2022-07-01 00:00:00'      GROUP BY user_id    ) b    ON b.user_id = a.id    ) main    WHERE jointime < UNIX_TIMESTAMP('2022-07-01 00:00:00'  )    OR jointime IS NULL    GROUP BY group_id

In [65]:
user_huoyue_count_1 = jdt_db(user_huoyue_sql_1)
user_huoyue_count_2 = jdt_db(user_huoyue_sql_2)
user_huoyue_count_3 = jdt_db(user_huoyue_sql_3)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

13.786969184875488

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

12.669613599777222

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5.703915596008301

In [66]:
user_active_repeat_user_1 = jdt_db(user_old_active_sql_1)
user_active_repeat_user_2 = jdt_db(user_old_active_sql_2)
user_active_repeat_user_3 = jdt_db(user_old_active_sql_3)
user_active_repeat_user_4 = jdt_db(user_old_active_sql_4)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11.198638439178467

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

12.488676071166992

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

8.107033252716064

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11.278564214706421

In [67]:
user_class_count_1 = jdt_db(user_class_count_1)
user_class_count_2 = jdt_db(user_class_count_2)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3.6855926513671875

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3.982471227645874

In [68]:
active_90_1 = jdt_db(days_90_1)
active_90_2 = jdt_db(days_90_2)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

10.72509479522705

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

10.84652304649353

### 2.2月度活跃人数、次数

In [69]:
def active_data(data2):
    data2['des'] = np.where(data2['updated_at']>data2['created_at'],'重复',np.where(data2['updated_at']==data2['created_at'],'新增','错误'))
    data2['time'] = pd.to_datetime(data2['created_at'],format='%Y-%m-%d').dt.date
    return  data2
user_huoyue_count_1 = active_data(user_huoyue_count_1)
user_huoyue_count_2 = active_data(user_huoyue_count_2)
user_huoyue_count_3 = active_data(user_huoyue_count_3)

In [70]:
user_huoyue_count_1

,user_id,group_id,province,city,created_at,updated_at,time,des
0,23472,4,广西壮族自治区,南宁市,2022-07-01 00:01:17,2022-07-01 00:01:17,2022-07-01,新增
1,1739507,3,广东省,广州市,2022-07-01 00:02:17,2022-07-01 00:02:17,2022-07-01,新增
2,2120554,1,广西壮族自治区,,2022-07-01 00:02:28,2022-07-01 00:02:28,2022-07-01,新增
3,2140809,1,河南省,驻马店市,2022-07-01 00:04:08,2022-07-01 00:04:08,2022-07-01,新增
4,2140810,1,广东省,广州市,2022-07-01 00:04:13,2022-07-01 00:04:13,2022-07-01,新增
...,...,...,...,...,...,...,...,...
201480,2189561,1,黑龙江省,,2022-07-25 11:20:22,2022-07-25 11:20:22,2022-07-25,新增
201481,403570,4,河北省,廊坊市,2022-07-25 11:20:23,2022-07-25 11:20:23,2022-07-25,新增
201482,54743,3,四川省,成都市,2022-07-25 11:20:24,2022-07-25 11:20:24,2022-07-25,新增
201483,16137,4,山东省,青岛市,2022-07-25 11:20:25,2022-07-25 11:20:25,2022-07-25,新增
201484,336208,3,浙江省,杭州市,2022-07-25 11:20:27,2022-07-25 11:20:27,2022-07-25,新增

In [71]:
user_huoyue_count_1_2 = pd.concat([user_huoyue_count_1,user_huoyue_count_2],axis = 0)
user_huoyue_count_1_2['mouth'] = pd.to_datetime(user_huoyue_count_1_2['created_at'],format='%Y-%m-%d').dt.month

In [72]:
active_MAU_1 = user_huoyue_count_1.drop_duplicates(subset='user_id',inplace= False)['user_id'].count()
active_MAU_2 = user_huoyue_count_2.drop_duplicates(subset='user_id',inplace= False)['user_id'].count()
active_MAU_3 = user_huoyue_count_3.drop_duplicates(subset='user_id',inplace= False)['user_id'].count()
active_MAU_H = (active_MAU_1 - active_MAU_2) / active_MAU_2
active_MAU_T = (active_MAU_1 - active_MAU_3) / active_MAU_3

In [73]:
print('本月MAU ' + str(active_MAU_1))
print('上月MAU ' + str(active_MAU_2))
print('去年MAU ' + str(active_MAU_3))
print('环比MAU ' + str(active_MAU_H))
print('同比MAU ' + str(active_MAU_T))

本月MAU 104207
上月MAU 105879
去年MAU 4
环比MAU -0.01579161117879844
同比MAU 26050.75

In [74]:
active_count_1  = user_huoyue_count_1['user_id'].count()
active_count_2  = user_huoyue_count_2['user_id'].count()
active_count_3  = user_huoyue_count_3['user_id'].count()
active_count_H = (active_count_1 - active_count_2)/active_count_2
active_count_T = (active_count_1 - active_count_3)/active_count_3

In [75]:
print('本月活跃次数 ' + str(active_count_1))
print('上月活跃次数 ' + str(active_count_2))
print('去年活跃次数 ' + str(active_count_3))
print('环比活跃次数 ' + str(active_count_H))
print('同比活跃次数 ' + str(active_count_T))

本月活跃次数 201485
上月活跃次数 239801
去年活跃次数 15
环比活跃次数 -0.15978248631156666
同比活跃次数 13431.333333333334

In [49]:
def time_list(timestamp_min,timestamp_max):
    time_list1 = []
    for i  in range(32):
        checkpoint = time.strftime("%Y-%m-%d",(time.localtime(timestamp_min)))
        time_list1.append(checkpoint)
        timestamp_min += 86400
        if timestamp_min == timestamp_max:
            break
    return time_list1

In [50]:
time_list_2= time_list(list_time1,list_time2)
time_list_1= time_list(list_time2,list_time3)

In [51]:
def active_data_sum(data2,list_time_2):
    data2['time'] = data2['time'].astype(str)
    huoyue_2_cishu = {}
    huoyue_2_renshu = {}
    for i in list_time_2:
        x = data2[data2['time'] == i]
        y = x.drop_duplicates(subset='user_id',inplace = False)
        cishu = x['user_id'].count()
        renshu = y['user_id'].count()
        huoyue_2_cishu[i] = cishu
        huoyue_2_renshu[i] = renshu
        
    return huoyue_2_renshu,huoyue_2_cishu

def active_concat(active_quantity_1,active_people_1):
    user_active_quantity1 = pd.DataFrame.from_dict(active_quantity_1, orient='index',columns=['活跃人数'])
    user_active_people1 = pd.DataFrame.from_dict(active_people_1, orient='index',columns=['活跃次数'])
    user_active_1 = pd.concat([user_active_quantity1,user_active_people1],axis = 1)
    return user_active_1

In [52]:
active_old_quantity_1,active_old_people_1 = active_data_sum(user_active_repeat_user_1,time_list_1)
active_old_quantity_2,active_old_people_2 = active_data_sum(user_active_repeat_user_2,time_list_2)
user_old_active_1 = active_concat(active_old_quantity_1,active_old_people_1)
user_old_active_2 = active_concat(active_old_quantity_2,active_old_people_2)

In [53]:
old_user_active_stick_1 = user_old_active_1['活跃人数'].sum() / user_active_repeat_user_1.drop_duplicates(subset='user_id',inplace = False)['user_id'].count()
old_user_active_stick_2 = user_old_active_2['活跃人数'].sum() / user_active_repeat_user_2.drop_duplicates(subset='user_id',inplace = False)['user_id'].count()
old_user_active_main_1 = user_old_active_1['活跃次数'].sum() / user_old_active_1['活跃人数'].sum()
old_user_active_main_2 = user_old_active_2['活跃次数'].sum() / user_old_active_2['活跃人数'].sum()

In [54]:
print('本月老用户用户粘性 ' + str(old_user_active_stick_1))
print('上月老用户用户粘性 ' + str(old_user_active_stick_2))
print('本月用户平均登录次数 ' + str(old_user_active_main_1))
print('上月用户平均登录次数 ' + str(old_user_active_main_2))

本月老用户用户粘性 1.8951043068640645
上月老用户用户粘性 2.0906938376462683
本月用户平均登录次数 1.2115673132407119
上月用户平均登录次数 1.2775589832019347

In [55]:
user_active_1

NameError: name 'user_active_1' is not defined

### 2.3MAU数据分布

In [ ]:
x = pd.merge(user_active_repeat_user_1,user_active_repeat_user_2,on='user_id').drop_duplicates(subset='user_id',inplace=False)['user_id'].count()
y = pd.merge(user_active_repeat_user_2,user_active_repeat_user_4,on='user_id').drop_duplicates(subset='user_id',inplace=False)['user_id'].count()

In [ ]:
print('本月用户活跃总人数 ' + str(user_huoyue_count_1.drop_duplicates(subset='user_id',inplace= False)['user_id'].count()))
print('新注册用户人数 ' + str(joinuser_1['id'].count()))
print('本月老用户人数 ' + str(user_active_repeat_user_1.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()))
print('本月连续登录人数 ' + str(x))
print('本月新唤醒用户人数 ' + str(user_active_repeat_user_1.drop_duplicates(subset='user_id',inplace=False)['user_id'].count() - x))

print('-' *40)

print('上月用户活跃总人数 ' + str(user_huoyue_count_2.drop_duplicates(subset='user_id',inplace= False)['user_id'].count()))
print('上注册用户人数 ' + str(joinuser_2['id'].count()))
print('上月老用户人数 ' + str(user_active_repeat_user_2.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()))
print('本月连续登录人数 ' + str(y))
print('本月新唤醒用户人数 ' + str(user_active_repeat_user_2.drop_duplicates(subset='user_id',inplace=False)['user_id'].count() - y))

### 2.4各个级别活跃数据

In [ ]:
user_active_class_1 = user_huoyue_count_1.drop_duplicates(subset='user_id',inplace= False)
user_active_class_2 = user_huoyue_count_2.drop_duplicates(subset='user_id',inplace= False)

In [ ]:
def class_group(dataframe):
    class_dict = {}
    for i in range(1,6):
        count = dataframe[dataframe['group_id'] == i]['user_id'].count()
        class_dict[i] = count
    group_count = pd.DataFrame.from_dict(class_dict, orient='index',columns=['活跃人数'])
    return  group_count

In [ ]:
user_active_class_group_1 = class_group(user_active_class_1)
user_active_class_group_1['class'] = [1,2,3,4,5]
user_active_class_group_1.rename(columns={'活跃人数':'本月活跃人数'},inplace=True)
user_active_class_group_2 = class_group(user_active_class_2)
user_active_class_group_2['class'] = [1,2,3,4,5]
user_active_class_group_2.rename(columns={'活跃人数':'上月活跃人数'},inplace=True)

In [ ]:
user_active_class_group_3 = class_group(user_huoyue_count_1)
user_active_class_group_3['class'] = [1,2,3,4,5]
user_active_class_group_3.rename(columns={'活跃人数':'本月活跃次数'},inplace=True)
user_active_class_group_4 = class_group(user_huoyue_count_2)
user_active_class_group_4['class'] = [1,2,3,4,5]
user_active_class_group_4.rename(columns={'活跃人数':'上月活跃次数'},inplace=True)

In [ ]:
user_class_count_1.rename(columns={'人数':'本月总人数'},inplace=True)
user_class_count_2.rename(columns={'人数':'上月总人数'},inplace=True)

In [ ]:
active_total_data = pd.merge(user_class_count_2,user_class_count_1,on = 'class',how = 'inner')

In [ ]:
active_total_data = pd.merge(active_total_data,user_active_class_group_1,on = 'class',how = 'inner')
active_total_data = pd.merge(active_total_data,user_active_class_group_2,on = 'class',how = 'inner')
active_total_data = pd.merge(active_total_data,user_active_class_group_3,on = 'class',how = 'inner')
active_total_data = pd.merge(active_total_data,user_active_class_group_4,on = 'class',how = 'inner')

In [ ]:
active_total_data['本月活跃占比'] = active_total_data['本月活跃人数'] / active_total_data['本月总人数'] 
active_total_data['上月活跃占比'] = active_total_data['上月活跃人数'] / active_total_data['上月总人数']

In [ ]:
active_total_data['本月活跃占比环比'] =( active_total_data['本月活跃占比'] - active_total_data['上月活跃占比'] ) / active_total_data['上月活跃占比']

In [ ]:
active_total_data

### 2.5每日活跃DAU

In [ ]:
active_quantity_1,active_people_1 = active_data_sum(user_huoyue_count_1,time_list_1)
active_quantity_2,active_people_2 = active_data_sum(user_huoyue_count_2,time_list_2)
user_active_1 = active_concat(active_quantity_1,active_people_1)
user_active_2 = active_concat(active_quantity_2,active_people_2)

In [ ]:
user_active_day = pd.concat([user_active_2,user_active_1],axis = 0)

In [ ]:
user_active_day

### 2.6 90日老用户唤醒

In [ ]:
print('本月90日用户唤醒 ' + str(active_90_1['user_id'].count()))
print('上月90日用户唤醒 ' + str(active_90_2['user_id'].count()))
print('90日用户唤醒环比 ' + str((active_90_1['user_id'].count() - active_90_2['user_id'].count()) / active_90_2['user_id'].count()))