In [6]:
import  pandas as pd

In [8]:
fenceng = pd.read_csv('fenceng2.csv')
fenceng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
age         55 non-null int64
chongxiu    38 non-null float64
jincheng    38 non-null float64
svip        38 non-null float64
sex         38 non-null float64
dtypes: float64(4), int64(1)
memory usage: 2.2 KB

In [9]:
fenceng.head(55)

    age  chongxiu  jincheng  svip  sex
0     1       NaN       NaN   NaN  NaN
1     2       NaN       NaN   NaN  NaN
2     3       NaN       NaN   NaN  NaN
3     4       NaN       NaN   NaN  NaN
4     5       NaN       NaN   NaN  NaN
5     6       NaN       NaN   NaN  NaN
6     7       NaN       NaN   NaN  NaN
7     8       NaN       NaN   NaN  NaN
8     9       NaN       NaN   NaN  NaN
9    10       NaN       NaN   NaN  NaN
10   11       NaN       NaN   NaN  NaN
11   12       NaN       NaN   NaN  NaN
12   13       NaN       NaN   NaN  NaN
13   14       NaN       NaN   NaN  NaN
14   15       NaN       NaN   NaN  NaN
15   16       NaN       NaN   NaN  NaN
16   17       NaN       NaN   NaN  NaN
17   18       0.0       1.0   2.0  1.0
18   19       0.0       2.0   2.0  1.0
19   20       0.0       3.0   2.0  0.0
20   21       2.0       2.0   2.0  1.0
21   22       2.0       4.0   2.0  1.0
22   23       0.0       1.0   2.0  0.0
23   24       3.0       3.0   2.0  1.0
24   25       0.0       1.0   2.0  0.0
25   26       2.0       2.0   2.0  1.0
26   27       3.0       1.0   2.0  1.0
27   28       0.0       2.0   2.0  0.0
28   29       2.0       3.0   2.0  1.0
29   30       1.0       4.0   2.0  1.0
30   31       0.0       4.0   1.0  0.0
31   32       3.0       4.0   1.0  1.0
32   33       0.0       4.0   1.0  0.0
33   34       0.0       4.0   1.0  0.0
34   35       2.0       4.0   1.0  1.0
35   36       0.0       4.0   1.0  0.0
36   37       1.0       4.0   1.0  0.0
37   38       2.0       4.0   1.0  1.0
38   39       0.0       4.0   1.0  0.0
39   40       1.0       4.0   1.0  0.0
40   41       4.0       4.0   1.0  0.0
41   42       1.0       2.0   1.0  0.0
42   43       1.0       4.0   1.0  0.0
43   44       1.0       4.0   1.0  0.0
44   45       2.0       4.0   1.0  0.0
45   46       1.0       4.0   1.0  0.0
46   47       1.0       4.0   1.0  0.0
47   48       1.0       4.0   1.0  0.0
48   49       4.0       3.0   1.0  0.0
49   50       1.0       4.0   1.0  0.0
50   51       4.0       4.0   1.0  0.0
51   52       1.0       4.0   1.0  0.0
52   53       1.0       4.0   1.0  0.0
53   54       1.0       4.0   1.0  0.0
54   55       2.0       4.0   1.0  0.0

In [10]:
fenceng.describe()

            age   chongxiu   jincheng       svip        sex
count  55.00000  38.000000  38.000000  38.000000  38.000000
mean   28.00000   1.315789   3.315789   1.342105   0.315789
std    16.02082   1.210434   1.068094   0.480783   0.471069
min     1.00000   0.000000   1.000000   1.000000   0.000000
25%    14.50000   0.000000   3.000000   1.000000   0.000000
50%    28.00000   1.000000   4.000000   1.000000   0.000000
75%    41.50000   2.000000   4.000000   2.000000   1.000000
max    55.00000   4.000000   4.000000   2.000000   1.000000

In [11]:
# 发现有nan值  而且年龄最小有1  这是有问题的  不过自己数据  清楚nan值时候清楚了

In [12]:
import numpy as np  # 导入numpy库
from sklearn.impute import SimpleImputer  # 导入sklearn中SimpleImputer库

In [13]:
nan_all = fenceng.isnull()  # 获得所有数据框中的N值
print(nan_all)  # 打印输出

      age  chongxiu  jincheng   svip    sex
0   False      True      True   True   True
1   False      True      True   True   True
2   False      True      True   True   True
3   False      True      True   True   True
4   False      True      True   True   True
5   False      True      True   True   True
6   False      True      True   True   True
7   False      True      True   True   True
8   False      True      True   True   True
9   False      True      True   True   True
10  False      True      True   True   True
11  False      True      True   True   True
12  False      True      True   True   True
13  False      True      True   True   True
14  False      True      True   True   True
15  False      True      True   True   True
16  False      True      True   True   True
17  False     False     False  False  False
18  False     False     False  False  False
19  False     False     False  False  False
20  False     False     False  False  False
21  False     False     False  False  False
22  False     False     False  False  False
23  False     False     False  False  False
24  False     False     False  False  False
25  False     False     False  False  False
26  False     False     False  False  False
27  False     False     False  False  False
28  False     False     False  False  False
29  False     False     False  False  False
30  False     False     False  False  False
31  False     False     False  False  False
32  False     False     False  False  False
33  False     False     False  False  False
34  False     False     False  False  False
35  False     False     False  False  False
36  False     False     False  False  False
37  False     False     False  False  False
38  False     False     False  False  False
39  False     False     False  False  False
40  False     False     False  False  False
41  False     False     False  False  False
42  False     False     False  False  False
43  False     False     False  False  False
44  False     False     False  False  False
45  False     False     False  False  False
46  False     False     False  False  False
47  False     False     False  False  False
48  False     False     False  False  False
49  False     False     False  False  False
50  False     False     False  False  False
51  False     False     False  False  False
52  False     False     False  False  False
53  False     False     False  False  False
54  False     False     False  False  False

In [14]:
nan_col1 = fenceng.isnull().any()  # 获得含有NA的列
nan_col2 = fenceng.isnull().all()  # 获得全部为NA的列
print(nan_col1)  # 打印输出
print(nan_col2)  # 打印输出

age         False
chongxiu     True
jincheng     True
svip         True
sex          True
dtype: bool
age         False
chongxiu    False
jincheng    False
svip        False
sex         False
dtype: bool

In [15]:
fenceng = fenceng.dropna()
print(fenceng)

    age  chongxiu  jincheng  svip  sex
17   18       0.0       1.0   2.0  1.0
18   19       0.0       2.0   2.0  1.0
19   20       0.0       3.0   2.0  0.0
20   21       2.0       2.0   2.0  1.0
21   22       2.0       4.0   2.0  1.0
22   23       0.0       1.0   2.0  0.0
23   24       3.0       3.0   2.0  1.0
24   25       0.0       1.0   2.0  0.0
25   26       2.0       2.0   2.0  1.0
26   27       3.0       1.0   2.0  1.0
27   28       0.0       2.0   2.0  0.0
28   29       2.0       3.0   2.0  1.0
29   30       1.0       4.0   2.0  1.0
30   31       0.0       4.0   1.0  0.0
31   32       3.0       4.0   1.0  1.0
32   33       0.0       4.0   1.0  0.0
33   34       0.0       4.0   1.0  0.0
34   35       2.0       4.0   1.0  1.0
35   36       0.0       4.0   1.0  0.0
36   37       1.0       4.0   1.0  0.0
37   38       2.0       4.0   1.0  1.0
38   39       0.0       4.0   1.0  0.0
39   40       1.0       4.0   1.0  0.0
40   41       4.0       4.0   1.0  0.0
41   42       1.0       2.0   1.0  0.0
42   43       1.0       4.0   1.0  0.0
43   44       1.0       4.0   1.0  0.0
44   45       2.0       4.0   1.0  0.0
45   46       1.0       4.0   1.0  0.0
46   47       1.0       4.0   1.0  0.0
47   48       1.0       4.0   1.0  0.0
48   49       4.0       3.0   1.0  0.0
49   50       1.0       4.0   1.0  0.0
50   51       4.0       4.0   1.0  0.0
51   52       1.0       4.0   1.0  0.0
52   53       1.0       4.0   1.0  0.0
53   54       1.0       4.0   1.0  0.0
54   55       2.0       4.0   1.0  0.0

In [16]:
# 应该是日期处理的  但是现在没有日期  将就用

In [17]:
# 应该是哑变量处理性别值  但是没必要   因为有身份证

In [22]:
# 进行建模
fenceng_5 = fenceng[['age','jincheng','sex']]
# 使用数据标准化  使用sklearn中预处理的scale
from sklearn.preprocessing import scale
x = pd.DataFrame(scale(fenceng_5))

# 使用cluster建模
from sklearn import  cluster
model = cluster.KMeans(n_clusters=3,random_state=10)
model.fit(x)

# 提取标签  查看分类结果
fenceng_5['cluster'] = model.labels_
fenceng_5.head(35)

C:\Users\cy176\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

    age  jincheng  sex  cluster
17   18       1.0  1.0        1
18   19       2.0  1.0        1
19   20       3.0  0.0        1
20   21       2.0  1.0        1
21   22       4.0  1.0        2
22   23       1.0  0.0        1
23   24       3.0  1.0        2
24   25       1.0  0.0        1
25   26       2.0  1.0        1
26   27       1.0  1.0        1
27   28       2.0  0.0        1
28   29       3.0  1.0        2
29   30       4.0  1.0        2
30   31       4.0  0.0        0
31   32       4.0  1.0        2
32   33       4.0  0.0        0
33   34       4.0  0.0        0
34   35       4.0  1.0        2
35   36       4.0  0.0        0
36   37       4.0  0.0        0
37   38       4.0  1.0        2
38   39       4.0  0.0        0
39   40       4.0  0.0        0
40   41       4.0  0.0        0
41   42       2.0  0.0        0
42   43       4.0  0.0        0
43   44       4.0  0.0        0
44   45       4.0  0.0        0
45   46       4.0  0.0        0
46   47       4.0  0.0        0
47   48       4.0  0.0        0
48   49       3.0  0.0        0
49   50       4.0  0.0        0
50   51       4.0  0.0        0
51   52       4.0  0.0        0

In [17]:
# 模型评估优化
fenceng_5.groupby(['cluster'])['age'].describe()

         count       mean       std   min    25%   50%    75%   max
cluster
0         10.0  28.400000  5.521674  21.0  24.50  28.0  31.50  38.0
1         22.0  44.090909  7.117444  31.0  39.25  44.5  49.75  55.0
2          6.0  22.166667  3.868678  18.0  19.25  21.5  24.50  28.0

In [18]:
fenceng_5.groupby(['cluster'])['jincheng'].describe()

         count      mean       std  min   25%  50%  75%  max
cluster
0         10.0  3.100000  1.100505  1.0  2.25  3.5  4.0  4.0
1         22.0  3.863636  0.467563  2.0  4.00  4.0  4.0  4.0
2          6.0  1.666667  0.816497  1.0  1.00  1.5  2.0  3.0

In [23]:
# 模型评估
from sklearn import  metrics
x_cluster = model.fit_predict(x)
score = metrics.silhouette_score(x,x_cluster)
print(score)

0.5455322737857496

In [24]:
model=cluster.KMeans(n_clusters=3,random_state=10)
model.fit(x)
centers=pd.DataFrame(model.cluster_centers_)
centers.to_csv('fenceng_3_3.csv')