In [1]:
from demo  import jdt_db
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
### 本月时间计算
sql_time_min ="'2022-07-01 00:00:00'"
sql_time_max ="'2022-07-28 00:00:00'"
### 上个月时间
sql_old_time_min ="'2022-06-01 00:00:00'"
sql_old_time_max ="'2022-07-01 00:00:00'"
### 去年月时间
sql_old_time_min_1 ="'2021-07-01 00:00:00'"
sql_old_time_max_1 ="'2021-07-28 00:00:00'"
### 前个月时间
sql_old_time_min_2 ="'2022-05-01 00:00:00'"
sql_old_time_max_2 ="'2022-06-01 00:00:00'"
# 时间戳
list_time1 = 1654012800
list_time2 = 1656604800
list_time3 = 1658937600
# 90天时间
day_90_sql_time_1= "'2022-05-01 00:00:00'"
day_90_sql_time_2= "'2022-04-01 00:00:00'"

In [3]:
user_join_sql_1 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_time_min + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_time_max
print(user_join_sql_1)
print('--' * 20)
user_join_sql_2 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_old_time_min + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max
print(user_join_sql_2)
print('--' * 20)
user_join_sql_3 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_old_time_min_1 + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max_1
print(user_join_sql_3)
print('--' * 20)

SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2022-07-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-07-28 00:00:00'
----------------------------------------
SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2022-06-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-07-01 00:00:00'
----------------------------------------
SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2021-07-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2021-07-28 00:00:00'
----------------------------------------

In [4]:
user_join_conference_sql_1 = "SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline,  a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= " +  sql_time_min  + "  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < "  +  sql_time_max   + " and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  " + sql_time_max + " GROUP BY   a.id  "
print(user_join_conference_sql_1)
print('--' * 20)
user_join_conference_sql_2 = "SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline,  a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= " +  sql_old_time_min  + "  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < "  +  sql_old_time_max   + " and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  " + sql_old_time_max + " GROUP BY   a.id   "
print(user_join_conference_sql_2)
print('--' * 20)
user_join_conference_sql_3 = "SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline, a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= " +  sql_old_time_min_1  + "  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < "  +  sql_old_time_max_1   + " and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  " + sql_old_time_max_1 + " GROUP BY   a.id   "
print(user_join_conference_sql_3)

SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline,  a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= '2022-07-01 00:00:00'  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < '2022-07-28 00:00:00' and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  '2022-07-28 00:00:00' GROUP BY   a.id
----------------------------------------
SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline,  a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= '2022-06-01 00:00:00'  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < '2022-07-01 00:00:00' and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  '2022-07-01 00:00:00' GROUP BY   a.id
----------------------------------------
SELECT   a.id,   b.conference_id,   b.conference_name, b.is_offline, a.truename,   FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s') as 'jointime',   b.created_at     FROM     jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id        WHERE    FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  >= '2021-07-01 00:00:00'  AND  FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')  < '2021-07-28 00:00:00' and order_state in (12,14)   AND b.created_at > FROM_UNIXTIME(a.jointime,'%Y-%m-%d %H:%m:%s')   AND b.created_at <  '2021-07-28 00:00:00' GROUP BY   a.id

In [5]:
print('--' * 20)
user_join_up_sql_1 = "  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= " +  sql_time_min  + "  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < "  +  sql_time_max   + "  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < " + sql_time_max + "  GROUP BY  a.id,  b.conference_id"
print(user_join_up_sql_1)
print('--' * 20)
user_join_up_sql_2 = "  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= " +  sql_old_time_min  + "  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < "  +  sql_old_time_max   + "  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < " + sql_old_time_max + "  GROUP BY  a.id,  b.conference_id"
print(user_join_up_sql_2)
print('--' * 20)
user_join_up_sql_3 = "  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= " +  sql_old_time_min_1  + "  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < "  +  sql_old_time_max_1   + "  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < " + sql_old_time_max_1 + "  GROUP BY  a.id,  b.conference_id"
print(user_join_up_sql_3)
print('--' * 20)

----------------------------------------
  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= '2022-07-01 00:00:00'  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < '2022-07-28 00:00:00'  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < '2022-07-28 00:00:00'  GROUP BY  a.id,  b.conference_id
----------------------------------------
  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= '2022-06-01 00:00:00'  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < '2022-07-01 00:00:00'  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < '2022-07-01 00:00:00'  GROUP BY  a.id,  b.conference_id
----------------------------------------
  SELECT   a.id,  a.username,  b.created_at,  b.user_group,  b.user_upgrade_group  FROM  jdt_user AS a  LEFT JOIN jdt_user_upgrade_log AS b ON a.id = b.user_id   WHERE  FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) >= '2021-07-01 00:00:00'  AND FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' ) < '2021-07-28 00:00:00'  AND b.created_at > FROM_UNIXTIME( a.jointime, '%Y-%m-%d %H:%m:%s' )   AND b.created_at < '2021-07-28 00:00:00'  GROUP BY  a.id,  b.conference_id
----------------------------------------

# 1.用户加入

### 1.1数据导入

In [6]:
# 用户注册数据
input_user_join_data_1 = jdt_db(user_join_sql_1)
input_user_join_data_2 = jdt_db(user_join_sql_2)
input_user_join_data_3 = jdt_db(user_join_sql_3)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5.586867332458496

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4.327769041061401

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4.3860931396484375

In [7]:
# 新用户参加会务
user_join_conference_1 = jdt_db(user_join_conference_sql_1)
user_join_conference_2 = jdt_db(user_join_conference_sql_2)
user_join_conference_3 = jdt_db(user_join_conference_sql_3)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

28.384899377822876

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

28.10010051727295

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

10.184597253799438

In [8]:
# 本月新用户升级人数
user_join_up_1= jdt_db(user_join_up_sql_1)
user_join_up_2= jdt_db(user_join_up_sql_2)
user_join_up_3= jdt_db(user_join_up_sql_3)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

1.4827094078063965

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

1.3226697444915771

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

1.0050663948059082

In [9]:
user_join_sql_1 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_time_min + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_time_max
print(user_join_sql_1)
print('--' * 20)
user_join_sql_2 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_old_time_min + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max
print(user_join_sql_2)
print('--' * 20)
user_join_sql_3 = "SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  " + sql_old_time_min_1 + "AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < " + sql_old_time_max_1
print(user_join_sql_3)
print('--' * 20)

input_user_join_data_1 = jdt_db(user_join_sql_1)
input_user_join_data_2 = jdt_db(user_join_sql_2)
input_user_join_data_3 = jdt_db(user_join_sql_3)

input_user_join_data_1['time'] = pd.to_datetime(input_user_join_data_1['时间'],format='%Y-%m-%d').dt.day
input_user_join_data_1['用户注册方式'] = np.where(input_user_join_data_1['p_name']=='官方直播中心','自绑定','被邀请')
input_user_join_data_2['time'] = pd.to_datetime(input_user_join_data_2['时间'],format='%Y-%m-%d').dt.day
input_user_join_data_2['用户注册方式'] = np.where(input_user_join_data_2['p_name']=='官方直播中心','自绑定','被邀请')
joinuser_1 = input_user_join_data_1
joinuser_2 = input_user_join_data_2
joinuser_3 = input_user_join_data_3

SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2022-07-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-07-28 00:00:00'
----------------------------------------
SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2022-06-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-07-01 00:00:00'
----------------------------------------
SELECT id,nickname,user_from,user_province,province_id,p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',age,gender,group_id  FROM jdt_user  WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >=  '2021-07-01 00:00:00'AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2021-07-28 00:00:00'
----------------------------------------

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5.11832070350647

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4.5161943435668945

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4.135170936584473

### 1.2用户注册方式

In [10]:
input_user_join_data_1['time'] = pd.to_datetime(input_user_join_data_1['时间'],format='%Y-%m-%d').dt.day
input_user_join_data_1['用户注册方式'] = np.where(input_user_join_data_1['p_name']=='官方直播中心','自绑定','被邀请')

input_user_join_data_2['time'] = pd.to_datetime(input_user_join_data_2['时间'],format='%Y-%m-%d').dt.day
input_user_join_data_2['用户注册方式'] = np.where(input_user_join_data_2['p_name']=='官方直播中心','自绑定','被邀请')

In [11]:
input_user_join_data_1.to_csv(r'D:\Work\data\2022.06.17六月份数据分析报告\1.1本月新增用户数据.csv')
input_user_join_data_2.to_csv(r'D:\Work\data\2022.06.17六月份数据分析报告\1.2上月新增用户数据.csv')

In [12]:
joinuser_1 = input_user_join_data_1
joinuser_2 = input_user_join_data_2
joinuser_3 = input_user_join_data_3

In [13]:
zibangding_1 = joinuser_1[joinuser_1['用户注册方式'] == '自绑定']['id'].count()
beiyaoqing_1 = joinuser_1[joinuser_1['用户注册方式'] == '被邀请']['id'].count()
zibangding_2 = joinuser_2[joinuser_2['用户注册方式'] == '自绑定']['id'].count()
beiyaoqing_2 = joinuser_2[joinuser_2['用户注册方式'] == '被邀请']['id'].count()

a = zibangding_1/joinuser_1['id'].count()
b = beiyaoqing_1/joinuser_1['id'].count()

c = zibangding_2/joinuser_2['id'].count()
d = beiyaoqing_2/joinuser_2['id'].count()


print('本月自绑定用户数量  ' + str(zibangding_1))
print('本月被邀请用户数量  ' + str(beiyaoqing_1))

print('上月自绑定用户数量  ' + str(zibangding_2))
print('上月被邀请用户数量  ' + str(beiyaoqing_2))

print('本月自绑定占比  ' + str(a/(a + b)))
print('本月被邀请占比  ' + str(b/(a + b)))

print('上月自绑定占比  ' + str(c/(c + d)))
print('上月被邀请占比  ' + str(d/(c + d)))

print('自绑定环比上个月百分点 '+ str(a-c))
print('被邀请环比上个月百分点 '+ str(b-d))

本月自绑定用户数量  1100
本月被邀请用户数量  61719
上月自绑定用户数量  1211
上月被邀请用户数量  39352
本月自绑定占比  0.017510625766089877
本月被邀请占比  0.9824893742339101
上月自绑定占比  0.029854793777580553
上月被邀请占比  0.9701452062224194
自绑定环比上个月百分点 -0.012344168011490676
被邀请环比上个月百分点 0.012344168011490741

### 1.3用户新增数据详情

In [14]:
newuserjoin_1 = joinuser_1['id'].count()
newuserjoin_2 = joinuser_2['id'].count()
newuserjoin_3 = joinuser_3['id'].count()
newuserjoin_than_H = (joinuser_1['id'].count() - joinuser_2['id'].count()) / joinuser_2['id'].count()
newuserjoin_than_T = (joinuser_1['id'].count() - joinuser_3['id'].count()) / joinuser_3['id'].count()

In [15]:
print('本月用户新增人数：' + str(newuserjoin_1))
print('上月用户新增人数：' + str(newuserjoin_2))
print('去年用户新增人数：' + str(newuserjoin_3))
print('用户新增人数环比：' + str(newuserjoin_than_H))
print('用户新增人数同比：' + str(newuserjoin_than_T))

本月用户新增人数：62819
上月用户新增人数：40563
去年用户新增人数：21045
用户新增人数环比：0.5486773660725291
用户新增人数同比：1.984984556901877

### 1.4新用户参会数据详情

In [16]:
user_join_conference_1['jointime'] = pd.to_datetime(user_join_conference_1['jointime'])
user_join_conference_1['distance_time'] = (user_join_conference_1['created_at'] - user_join_conference_1['jointime']).dt.seconds / 60
user_join_conference_1.head()
user_join_conference_2['jointime'] = pd.to_datetime(user_join_conference_2['jointime'])
user_join_conference_2['distance_time'] = (user_join_conference_2['created_at'] - user_join_conference_2['jointime']).dt.seconds / 60

In [17]:
user_join_conference_1['time'] = pd.to_datetime(user_join_conference_1['created_at'],format='%Y-%m-%d').dt.day
user_join_conference_2['time'] = pd.to_datetime(user_join_conference_2['created_at'],format='%Y-%m-%d').dt.day

In [18]:
newuserconference_1 = user_join_conference_1['id'].count()
newuserconference_2 = user_join_conference_2['id'].count()
newuserconference_3 = user_join_conference_3['id'].count()
newuserconference_than_H = (newuserconference_1-newuserconference_2)/newuserconference_2
newuserconference_than_T = (newuserconference_1-newuserconference_3)/newuserconference_3
newuserconference_rate_1 = user_join_conference_1['id'].count()/joinuser_1['id'].count()
newuserconference_rate_2 = user_join_conference_2['id'].count()/joinuser_2['id'].count()
newuserconference_rate_than_H = (newuserconference_rate_1 - newuserconference_rate_2)/newuserconference_rate_2

In [19]:
print('本月新用户参会人数 ' + str(newuserconference_1))
print('上月新用户参会人数 ' + str(newuserconference_2))
print('去年新用户参会人数 ' + str(newuserconference_3))
print('环比 ' + str(newuserconference_than_H))
print('同比 ' + str(newuserconference_than_T))
print('本月新用户参会率 ' + str(newuserconference_rate_1))
print('上月新用户参会率 ' + str(newuserconference_rate_2))
print('环比新用户参会率 ' + str(newuserconference_rate_than_H))

本月新用户参会人数 20017
上月新用户参会人数 11019
去年新用户参会人数 4490
环比 0.8165895271803248
同比 3.458129175946548
本月新用户参会率 0.3186456326907464
上月新用户参会率 0.27165150506619334
环比新用户参会率 0.17299417359422326

In [20]:
user_join_conference_dis_1 = user_join_conference_1.drop_duplicates(subset='id',inplace= False,keep = 'first')
user_join_conference_dis_2 = user_join_conference_2.drop_duplicates(subset='id',inplace= False,keep = 'first')

In [21]:
def percentile_conference(data):
    user_join_conference_Q1 = np.percentile(data['distance_time'],25)
    user_join_conference_Q2 = np.percentile(data['distance_time'],50)
    user_join_conference_Q3 = np.percentile(data['distance_time'],75)
    user_join_conference_IQR = user_join_conference_Q3 - user_join_conference_Q1
    user_join_conference_Q0 = user_join_conference_Q1 - 1.5 * user_join_conference_IQR
    user_join_conference_Q4 = user_join_conference_Q3 + 1.5 * user_join_conference_IQR
    print(user_join_conference_Q0)
    print(user_join_conference_Q1)
    print(user_join_conference_Q2)
    print(user_join_conference_Q3)
    print(user_join_conference_Q4)
    print('------------')

In [22]:
percentile_conference(user_join_conference_1)
percentile_conference(user_join_conference_2)

-67.35
18.85
37.36666666666667
76.31666666666666
162.51666666666665
------------
-164.89583333333337
20.316666666666666
41.81666666666667
143.79166666666669
329.0041666666667
------------

In [23]:
user_conference_offline1_1 = user_join_conference_1[user_join_conference_1['is_offline'] == 1 ]['id'].count()
user_conference_offline2_1 = user_join_conference_2[user_join_conference_1['is_offline'] == 1 ]['id'].count()
user_conference_offline1_2 = user_join_conference_1[user_join_conference_1['is_offline'] == 2 ]['id'].count()
user_conference_offline2_2 = user_join_conference_2[user_join_conference_1['is_offline'] == 2 ]['id'].count()
print('本月参会线下人数' +str(user_conference_offline1_1) )
print('上月参会线下人数' +str(user_conference_offline2_1) )
print('本月参会线上人数' +str(user_conference_offline1_2) )
print('上月参会线上人数' +str(user_conference_offline2_2) )

本月参会线下人数2704
上月参会线下人数2346
本月参会线上人数17313
上月参会线上人数8673

C:\Users\cy176\AppData\Local\Temp\ipykernel_14644\3142540918.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  user_conference_offline2_1 = user_join_conference_2[user_join_conference_1['is_offline'] == 1 ]['id'].count()
C:\Users\cy176\AppData\Local\Temp\ipykernel_14644\3142540918.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  user_conference_offline2_2 = user_join_conference_2[user_join_conference_1['is_offline'] == 2 ]['id'].count()

### 1.5新用户升学数据详情

In [24]:
user_join_up_1['time'] = pd.to_datetime(user_join_up_1['created_at'],format='%Y-%m-%d').dt.day
user_join_up_2['time'] = pd.to_datetime(user_join_up_2['created_at'],format='%Y-%m-%d').dt.day

In [25]:
newuserup_1 = user_join_up_1['id'].count()
newuserup_2 = user_join_up_2['id'].count()
newuserup_3 = user_join_up_3['id'].count()
newuserup_H = (user_join_up_1['id'].count() - user_join_up_2['id'].count()) /user_join_up_2['id'].count() 
newuserup_T = (user_join_up_1['id'].count() - user_join_up_3['id'].count()) /user_join_up_3['id'].count() 
newuserup_than_1= user_join_up_1['id'].count()/joinuser_1['id'].count()
newuserup_than_2= user_join_up_2['id'].count()/joinuser_2['id'].count()
newuserup_than_H = (newuserup_than_1 - newuserup_than_2) / newuserup_than_2

In [26]:
print('本月新用户升学人数 ' + str(newuserup_1))
print('上月新用户升学人数 ' + str(newuserup_2))
print('去年新用户升学人数 ' + str(newuserup_3))
print('环比 ' + str(newuserup_H))
print('同比 ' + str(newuserup_T))
print('本月新用户升学率 ' + str(newuserup_than_1))
print('上月新用户升学率 ' + str(newuserup_than_2))
print('环比新用户升学率 '  + str(newuserup_than_H))

本月新用户升学人数 3339
上月新用户升学人数 4200
去年新用户升学人数 3935
环比 -0.205
同比 -0.15146124523506987
本月新用户升学率 0.053152708575431
上月新用户升学率 0.10354263737889209
环比新用户升学率 -0.4866587338225696

In [27]:
# joinuser_1['mouth'] = 6
# joinuser_2['mouth'] = 5
# user_join_conference_1['mouth'] = 6
# user_join_conference_2['mouth'] = 5
# user_join_up_1['mouth'] = 6
# user_join_up_2['mouth'] = 5
# joinuser_1_2 = pd.concat([joinuser_1,joinuser_2] , axis= 0 )
# user_join_conference_1_2 = pd.concat([user_join_conference_1,user_join_conference_2] , axis= 0 )
# user_join_up_1_2 = pd.concat([user_join_up_1,user_join_up_2] , axis= 0 )

### 1.6用户每日升级、参会、新增数据

In [28]:
def new_user_data_sum(data2):
    data_list = {}
    for i in range(0,32):
        x = data2[data2['time'] == i]['id'].count()
        data_list[i] = x
    return data_list

In [29]:
input_user_join_data_1_list_data = new_user_data_sum(input_user_join_data_1)
input_user_join_data_1_list_data = pd.DataFrame.from_dict(input_user_join_data_1_list_data, orient='index',columns=['本月新增人数'])
input_user_join_data_2_list_data = new_user_data_sum(input_user_join_data_2)
input_user_join_data_2_list_data = pd.DataFrame.from_dict(input_user_join_data_2_list_data, orient='index',columns=['上月新增人数'])

In [30]:
user_join_conference_1_list_data = new_user_data_sum(user_join_conference_1)
user_join_conference_1_list_data = pd.DataFrame.from_dict(user_join_conference_1_list_data, orient='index',columns=['本月参会人数'])
user_join_conference_2_list_data = new_user_data_sum(user_join_conference_2)
user_join_conference_2_list_data = pd.DataFrame.from_dict(user_join_conference_2_list_data, orient='index',columns=['上月参会人数'])

In [31]:
user_join_up_1_list_data = new_user_data_sum(user_join_up_1)
user_join_up_1_list_data = pd.DataFrame.from_dict(user_join_up_1_list_data, orient='index',columns=['本月升级人数'])
user_join_up_2_list_data = new_user_data_sum(user_join_up_2)
user_join_up_2_list_data = pd.DataFrame.from_dict(user_join_up_2_list_data, orient='index',columns=['上月升级人数'])

In [32]:
print_data = pd.concat([input_user_join_data_1_list_data,input_user_join_data_2_list_data],axis = 1)

In [33]:
print_data = pd.concat([print_data,user_join_conference_1_list_data],axis = 1)
print_data = pd.concat([print_data,user_join_conference_2_list_data],axis = 1)
print_data = pd.concat([print_data,user_join_up_1_list_data],axis = 1)
print_data = pd.concat([print_data,user_join_up_2_list_data],axis = 1)

In [34]:
print_data.to_csv(r'D:\Work\data\2022.06.17六月份数据分析报告\print.csv')

In [35]:
print_data

    本月新增人数  上月新增人数  本月参会人数  上月参会人数  本月升级人数  上月升级人数
0        0       0       0       0       0       0
1     1083     894      76     205      78      56
2     1031     881     112     234     128      86
3      919     691     108     171     129      54
4      933    1055      99     328      96     140
5      873    1029      91     345     110     120
6      771     973      94     320     105      85
7      859     985      76     263      76      91
8      772    1141      84     353      63     147
9      787    1399     140     457     141     203
10     755    1334      98     420     113     195
11     789    1331     102     387     105     187
12     802    1014     109     325     130     163
13     820    1093     113     305     147     112
14     955    1204     113     319     136     162
15    1046    1221     104     347     118     153
16     961    1365     154     324     173     145
17     914    2688     116     446     153     106
18     947    2098     112     478     155     186
19    1197    1582     129     442     141     178
20    1321    1445     138     354     140     136
21    5703    1442    2797     335     143     137
22    7946    1481    3639     385      92     147
23    9465    1588    5000     428     136     187
24    5709    1936    2427     465     117     166
25    6296    3056    1990     541     147     171
26    5333    1621    1203     953     143     131
27    3832    1162     793     635     124     109
28       0     998       0     232       0     132
29       0     990       0     123       0     167
30       0     866       0      99       0     148
31       0       0       0       0       0       0