In [1]:
from demo  import jdt_db
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
### 本月时间计算
sql_time_min ="'2022-07-01 00:00:00'"
sql_time_max ="'2022-08-01 00:00:00'"
### 上个月时间
sql_old_time_min ="'2022-06-01 00:00:00'"
sql_old_time_max ="'2022-07-01 00:00:00'"
### 去年月时间
sql_old_time_min_1 ="'2021-07-01 00:00:00'"
sql_old_time_max_1 ="'2021-08-01 00:00:00'"
### 前个月时间
sql_old_time_min_2 ="'2022-05-01 00:00:00'"
sql_old_time_max_2 ="'2022-06-01 00:00:00'"
# 时间戳
list_time1 = 1654012800
list_time2 = 1656604800
list_time3 = 1659283200
# 90天时间
day_90_sql_time_1= "'2022-05-01 00:00:00'"
day_90_sql_time_2= "'2022-04-01 00:00:00'"

# 4.用户收入

### 4.1数据导入

In [3]:
user_retain_sql_1 = "      SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'                            FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id      WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= " + sql_time_min+ "      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   " +sql_time_max + " AND b.created_at >=   " + sql_time_min+ " AND b.created_at <   " +sql_time_max + "    GROUP BY      a.id"
print(user_retain_sql_1)
print('--' * 20)
user_retain_sql_2 = "      SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'                            FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id      WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= " + sql_old_time_min+ "      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   " +sql_old_time_max + " AND b.created_at >=   " + sql_old_time_min+ " AND b.created_at <   " +sql_old_time_max + "    GROUP BY      a.id"
print(user_retain_sql_2)
print('--' * 20)
user_up_sql_1 = "SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'     ,c.user_upgrade_group,c.user_group                       FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id LEFT JOIN jdt_user_upgrade_log as c on a.id = c.user_id     WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= " + sql_time_min+ "      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   " +sql_time_max + " AND b.created_at >=   " + sql_time_min+ " AND b.created_at <   " +sql_time_max + "  	AND c.created_at < b.created_at  GROUP BY      a.id,      b.conference_id "
print(user_up_sql_1)
print('--' * 20)
user_up_sql_2 = " SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'     ,c.user_upgrade_group,c.user_group                       FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id LEFT JOIN jdt_user_upgrade_log as c on a.id = c.user_id     WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= " + sql_old_time_min+ "      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   " +sql_old_time_max + " AND b.created_at >=   " + sql_old_time_min+ " AND b.created_at <   " +sql_old_time_max + "  	AND c.created_at < b.created_at  GROUP BY      a.id,      b.conference_id"
print(user_up_sql_2)
print('--' * 20)
conference_count_1 = "    SELECT    	id,    	conference_name,    	created_at,    	is_offline     FROM    	jdt_conference     WHERE    	created_at >=   "+ sql_time_min+" and  status = 2 	AND created_at < "+ sql_time_max
print(conference_count_1)
print('--' * 20)
conference_count_2 = "    SELECT    	id,    	conference_name,    	created_at,    	is_offline     FROM    	jdt_conference     WHERE    	created_at >=   "+ sql_old_time_min+" and  status = 2 	AND created_at < "+ sql_old_time_max
print(conference_count_2)
print('--' * 20)
up_count_1 = "   SELECT   user_id,   user_upgrade_group,   conference_id,  user_group,  created_at      FROM   jdt_user_upgrade_log   WHERE   created_at >=  "+ sql_time_min+"   AND created_at <   "+ sql_time_max
print(up_count_1)
print('--' * 20)
up_count_2=  "   SELECT   user_id,   user_upgrade_group,   conference_id,  user_group,   created_at      FROM   jdt_user_upgrade_log   WHERE   created_at >=  "+ sql_old_time_min+"   AND created_at <   "+ sql_old_time_max  
print(up_count_2)
print('--' * 20)

      SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'                            FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id      WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= '2022-07-01 00:00:00'      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   '2022-08-01 00:00:00' AND b.created_at >=   '2022-07-01 00:00:00' AND b.created_at <   '2022-08-01 00:00:00'    GROUP BY      a.id
----------------------------------------
      SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'                            FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id      WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= '2022-06-01 00:00:00'      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   '2022-07-01 00:00:00' AND b.created_at >=   '2022-06-01 00:00:00' AND b.created_at <   '2022-07-01 00:00:00'    GROUP BY      a.id
----------------------------------------
SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'     ,c.user_upgrade_group,c.user_group                       FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id LEFT JOIN jdt_user_upgrade_log as c on a.id = c.user_id     WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= '2022-07-01 00:00:00'      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   '2022-08-01 00:00:00' AND b.created_at >=   '2022-07-01 00:00:00' AND b.created_at <   '2022-08-01 00:00:00'  	AND c.created_at < b.created_at  GROUP BY      a.id,      b.conference_id
----------------------------------------
 SELECT      a.id,      a.truename,      b.conference_id,      b.is_offline,      b.conference_name,      FROM_UNIXTIME(a.jointime,'%Y-%m-%d' )  as 'jointime'     ,c.user_upgrade_group,c.user_group                       FROM      jdt_user as a LEFT JOIN jdt_conference_order as b on a.id = b.buyer_id LEFT JOIN jdt_user_upgrade_log as c on a.id = c.user_id     WHERE      FROM_UNIXTIME(a.jointime,'%Y-%m-%d')>= '2022-06-01 00:00:00'      AND FROM_UNIXTIME(a.jointime,'%Y-%m-%d')<   '2022-07-01 00:00:00' AND b.created_at >=   '2022-06-01 00:00:00' AND b.created_at <   '2022-07-01 00:00:00'  	AND c.created_at < b.created_at  GROUP BY      a.id,      b.conference_id
----------------------------------------
    SELECT    	id,    	conference_name,    	created_at,    	is_offline     FROM    	jdt_conference     WHERE    	created_at >=   '2022-07-01 00:00:00' and  status = 2 	AND created_at < '2022-08-01 00:00:00'
----------------------------------------
    SELECT    	id,    	conference_name,    	created_at,    	is_offline     FROM    	jdt_conference     WHERE    	created_at >=   '2022-06-01 00:00:00' and  status = 2 	AND created_at < '2022-07-01 00:00:00'
----------------------------------------
   SELECT   user_id,   user_upgrade_group,   conference_id,  user_group,  created_at      FROM   jdt_user_upgrade_log   WHERE   created_at >=  '2022-07-01 00:00:00'   AND created_at <   '2022-08-01 00:00:00'
----------------------------------------
   SELECT   user_id,   user_upgrade_group,   conference_id,  user_group,   created_at      FROM   jdt_user_upgrade_log   WHERE   created_at >=  '2022-06-01 00:00:00'   AND created_at <   '2022-07-01 00:00:00'
----------------------------------------

In [4]:
user_retain_1 = jdt_db(user_retain_sql_1)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

2.2147412300109863

In [5]:
user_retain_2= jdt_db(user_retain_sql_2)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

2.3070263862609863

In [6]:
user_up_1 = jdt_db(user_up_sql_1)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

2.0828001499176025

In [7]:
user_up_2 = jdt_db(user_up_sql_2)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4.3681862354278564

In [8]:
conference_count_1 = jdt_db(conference_count_1)

0.2541186809539795

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [9]:
conference_count_2 = jdt_db(conference_count_2)

0.2491164207458496

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [10]:
up_count_1 = jdt_db(up_count_1)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

0.4768869876861572

In [11]:
up_count_2 = jdt_db(up_count_2)

D:\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

0.4879274368286133

### 4.4总升级人数

In [12]:
conference_count_1

          id     conference_name          created_at  is_offline
0     121981         腰推问题的调理(杨坪) 2022-07-01 02:21:31           1
1     121982   哈尔滨颈肩问题的调理与改善(刘莉) 2022-07-01 05:42:24           1
2     121983         膝关节的保养(廖向荣) 2022-07-01 07:29:19           1
3     121984       肩颈的调理与改善(谭玉芳) 2022-07-01 08:16:21           1
4     121985          膝关节问题(陈翠花) 2022-07-01 08:27:42           1
...      ...                 ...                 ...         ...
2465  126054  福建龙岩站养生基础课8月23-24日 2022-07-29 16:56:02           1
2466  126055        膝关节问题自测(王彩红) 2022-07-29 16:58:31           1
2467  126056  福建龙岩站养生基础课8月29-30日 2022-07-29 16:59:33           1
2468  126057          权芳爱健康(刘权芳) 2022-07-29 17:03:20           1
2469  126058  河北唐山站养生基础课8月11-12日 2022-07-29 17:11:36           1

[2470 rows x 4 columns]

In [13]:
print( '本月线下会务场数  '+str(conference_count_1[conference_count_1['is_offline'] == 1]['id'].count()))
print( '本月线上会务场数  '+str(conference_count_1[conference_count_1['is_offline'] == 2]['id'].count()))

print( '上月线下会务场数  '+str(conference_count_2[conference_count_2['is_offline'] == 1]['id'].count()))
print( '上月线上会务场数  '+str(conference_count_2[conference_count_2['is_offline'] == 2]['id'].count()))

print( '线下会务场数环比  '+str((conference_count_1[conference_count_1['is_offline'] == 1]['id'].count() - conference_count_2[conference_count_2['is_offline'] == 1]['id'].count()) / conference_count_2[conference_count_2['is_offline'] == 1]['id'].count()))

print( '线上会务场数环比  '+str((conference_count_1[conference_count_1['is_offline'] == 2]['id'].count() - conference_count_2[conference_count_2['is_offline'] == 2]['id'].count()) / conference_count_2[conference_count_2['is_offline'] == 2]['id'].count()))

本月线下会务场数  1946
本月线上会务场数  524
上月线下会务场数  1982
上月线上会务场数  102
线下会务场数环比  -0.018163471241170535
线上会务场数环比  4.137254901960785

In [14]:
print( '总升级人数  '+str(up_count_1['user_id'].count()))
print( '基础人数  '+str(up_count_1[up_count_1['user_upgrade_group'] == 2]['user_id'].count()))
print( '研修人数  '+str(up_count_1[up_count_1['user_upgrade_group'] == 3]['user_id'].count()))
print( '师承人数  '+str(up_count_1[up_count_1['user_upgrade_group'] == 4]['user_id'].count()))
print( '招生人数  '+str(up_count_1[up_count_1['user_upgrade_group'] == 5]['user_id'].count()))

总升级人数  6715
基础人数  4364
研修人数  1841
师承人数  284
招生人数  226

In [15]:
print( '总升级人数  '+str(up_count_2['user_id'].count()))
print( '基础人数  '+str(up_count_2[up_count_2['user_upgrade_group'] == 2]['user_id'].count()))
print( '研修人数  '+str(up_count_2[up_count_2['user_upgrade_group'] == 3]['user_id'].count()))
print( '师承人数  '+str(up_count_2[up_count_2['user_upgrade_group'] == 4]['user_id'].count()))
print( '招生人数  '+str(up_count_2[up_count_2['user_upgrade_group'] == 5]['user_id'].count()))

总升级人数  8514
基础人数  5018
研修人数  2276
师承人数  901
招生人数  319

In [16]:
print( '总升级人数环比  '+str((up_count_1['user_id'].count() -up_count_2['user_id'].count() ) / up_count_2['user_id'].count()))
print( '基础人数环比  '+str((up_count_1[up_count_1['user_upgrade_group'] == 2]['user_id'].count() - up_count_2[up_count_2['user_upgrade_group'] == 2]['user_id'].count() ) / up_count_2[up_count_2['user_upgrade_group'] == 2]['user_id'].count() ))
print( '研修人数环比  '+str((up_count_1[up_count_1['user_upgrade_group'] == 3]['user_id'].count() - up_count_2[up_count_2['user_upgrade_group'] == 3]['user_id'].count() ) / up_count_2[up_count_2['user_upgrade_group'] == 3]['user_id'].count() ))
print( '师承人数环比  '+str((up_count_1[up_count_1['user_upgrade_group'] == 4]['user_id'].count() - up_count_2[up_count_2['user_upgrade_group'] == 4]['user_id'].count() ) / up_count_2[up_count_2['user_upgrade_group'] == 4]['user_id'].count() ))
print( '招生人数环比  '+str((up_count_1[up_count_1['user_upgrade_group'] == 5]['user_id'].count() - up_count_2[up_count_2['user_upgrade_group'] == 5]['user_id'].count() ) / up_count_2[up_count_2['user_upgrade_group'] == 5]['user_id'].count() ))

总升级人数环比  -0.21129903688043222
基础人数环比  -0.13033080908728578
研修人数环比  -0.19112478031634447
师承人数环比  -0.6847946725860156
招生人数环比  -0.29153605015673983