In [6]:
import pandas as pd
import numpy as np
from fastdtw import fastdtw
from scipy.spatial.distance import euclidean
data = pd.read_excel(r'C:\Users\cy176\Desktop\time.xls')
del data['name']
data_list = list(data)
dx = pd.DataFrame()
for i in data_list:
    dict_a = {}
    dict_a['name'] = i
    for j in data_list:
        distance, path = fastdtw(data[i], data[j], dist=euclidean)
        dict_a[j] = distance
    df = pd.DataFrame([dict_a])
    dx = pd.concat([dx,df],axis = 0)
dx.to_excel(r'C:\Users\cy176\Desktop\time.xlsx')

,苏农银行,中信银行,贵阳银行,中国银行,重庆银行,建设银行,浙商银行,紫金银行,成都银行,沪农商行,...,浦发银行,苏州银行,青农商行,青岛银行,郑州银行,张家港行,江阴银行,宁波银行,兰州银行,平安银行
0,0.235639,-1.384129,0.087291,0.063353,-0.160822,0.690405,-0.319844,-0.240796,0.651465,1.062088,...,-0.890283,-0.125280,-0.448832,-0.384962,-1.813053,0.136743,0.256328,1.468923,-1.797961,-0.634910
1,-0.224903,-0.940556,0.374100,-0.044599,0.073703,0.283849,-0.684230,-0.175233,0.727802,0.402899,...,-0.236957,-0.144871,-0.398047,-0.567992,-1.227918,-0.161327,-0.257960,1.340126,-1.206383,-0.169740
2,-0.262408,-0.802508,0.057734,-0.095400,-0.163009,0.295486,-0.809030,-0.448294,1.035894,0.546845,...,-0.671724,-0.096407,-0.828959,-0.228993,-0.556822,0.231908,-0.087945,1.626531,-1.520388,-0.005009

In [10]:

data_list

['苏农银行',
 '中信银行',
 '贵阳银行',
 '中国银行',
 '重庆银行',
 '建设银行',
 '浙商银行',
 '紫金银行',
 '成都银行',
 '沪农商行',
 '光大银行',
 '齐鲁银行',
 '邮储银行',
 '长沙银行',
 '瑞丰银行',
 '工商银行',
 '交通银行',
 '农业银行',
 '上海银行',
 '厦门银行',
 '北京银行',
 '兴业银行',
 '常熟银行',
 '渝农商行',
 '南京银行',
 '西安银行',
 '杭州银行',
 '江苏银行',
 '无锡银行',
 '招商银行',
 '民生银行',
 '华夏银行',
 '浦发银行',
 '苏州银行',
 '青农商行',
 '青岛银行',
 '郑州银行',
 '张家港行',
 '江阴银行',
 '宁波银行',
 '兰州银行',
 '平安银行']

In [124]:
x = np.array([1, 2, 3, 3, 7])
y = np.array([1, 2, 2, 2, 2, 2, 2, 4])

In [125]:
distance, path = fastdtw(dataframe01['data1'], dataframe01['data2'], dist=euclidean)
print(distance)

1242.0