In [1]:
from demo  import jdt_db
import pandas as pd
import datetime
import numpy as np

# 1.用户获取（3、4）

### 1.1新增用数据详情

In [2]:
sql = "SELECT	id,	nickname,	user_from,user_province,province_id,	p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',	age,	gender,	group_id FROM	jdt_user WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-04-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-06-01 00:00:00'"
data1 = jdt_db(sql)
data1['time'] = pd.to_datetime(data1['时间'],format='%Y-%m-%d').dt.month
data1['用户注册方式'] = np.where(data1['p_name']=='官方直播中心','自绑定','被邀请')
data1.to_csv(r'data/1.1新增用户数据.csv')

14.609397411346436

In [3]:
sql1 = "SELECT	id,	nickname,	user_from,user_province,province_id,	p_name,	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' )  as '时间',	age,	gender,	group_id FROM	jdt_user WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2021-05-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2021-06-01 00:00:00'"
data1_1 = jdt_db(sql1)
data1_1['time'] = pd.to_datetime(data1_1['时间'],format='%Y-%m-%d').dt.month
data1_1['用户注册方式'] = np.where(data1_1['p_name']=='官方直播中心','自绑定','被邀请')

5.984163999557495

In [4]:
print('五月份新增用户数量:' , data1[data1['time'] == 5]['id'].count())
print('四月份新增用户数量:' , data1[data1['time'] == 4]['id'].count())
print('去年五月份新增数量:' , data1_1['id'].count())
print('五月份用户新增同比:' ,(data1[data1['time'] == 5]['id'].count()-  data1_1['id'].count()) / data1_1['id'].count())
print('五月份用户新增环比:' , (data1[data1['time'] == 5]['id'].count()-   data1[data1['time'] == 4]['id'].count()) /  data1[data1['time'] == 4]['id'].count())

五月份新增用户数量: 36053
四月份新增用户数量: 131426
去年五月份新增数量: 34943
五月份用户新增同比: 0.031766018945139224
五月份用户新增环比: -0.7256783284890357

### 1.2新增用户升学会务人数

In [5]:
sql1_2 = "SELECT	a.id,	FROM_UNIXTIME(a.jointime, '%Y-%m-%d %H:%i:%s' ) as 'time' ,	b.conference_id,	b.conference_name,	c.created_at,	c.user_upgrade_group,	c.user_group   FROM	jdt_user AS a	LEFT JOIN jdt_conference_order AS b ON a.id = b.buyer_id	LEFT JOIN jdt_user_upgrade_log AS c ON a.id = c.user_id WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-05-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-06-01 00:00:00'"
data1_2 = jdt_db(sql1_2)
data1_2['conference_id'] = data1_2['conference_id'].fillna(0)
data1_2['user_upgrade_group'] = data1_2['user_upgrade_group'].fillna(0)
data1_2['user_group'] = data1_2['user_group'].fillna(0)

5.159902572631836

In [6]:
sql1_3 = "SELECT	a.id,	FROM_UNIXTIME(a.jointime, '%Y-%m-%d %H:%i:%s' ),	b.conference_id,	b.conference_name,	c.created_at,	c.user_upgrade_group,	c.user_group   FROM	jdt_user AS a	LEFT JOIN jdt_conference_order AS b ON a.id = b.buyer_id	LEFT JOIN jdt_user_upgrade_log AS c ON a.id = c.user_id WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-04-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00'  AND b.created_at >= '2022-04-01 00:00:00'  AND  b.created_at <= '2022-05-01 00:00:00' "
data1_3 = jdt_db(sql1_3)
sql1_4 = "SELECT	a.id,	FROM_UNIXTIME(a.jointime, '%Y-%m-%d %H:%i:%s' ),	b.conference_id,	b.conference_name,	c.created_at,	c.user_upgrade_group,	c.user_group   FROM	jdt_user AS a	LEFT JOIN jdt_conference_order AS b ON a.id = b.buyer_id	LEFT JOIN jdt_user_upgrade_log AS c ON a.id = c.user_id WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-04-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00'  AND b.created_at >= '2022-04-01 00:00:00'  AND  b.created_at <= '2022-05-01 00:00:00'  AND c.created_at >= '2022-04-01 00:00:00'  AND  c.created_at <= '2022-05-01 00:00:00' GROUP BY  a.id"
data1_4 = jdt_db(sql1_4)

14.97431492805481
1.151129961013794

In [7]:
print('五月新增用户参加会务人数:' ,data1_2[data1_2['conference_id'] > 0].drop_duplicates(subset = 'id',inplace = False)['id'].count())
print('五月新增用户参加升学人数:' ,data1_2[data1_2['user_upgrade_group'] > 1].drop_duplicates(subset = 'id',inplace = False)['id'].count())
print('四月新增用户参加会务人数:' ,data1_3.drop_duplicates(subset = 'id',inplace = False)['id'].count())
print('四月新增用户参加升学人数:' ,data1_4.drop_duplicates(subset = 'id',inplace = False)['id'].count())
print('五月环比四月参加会务人数:' ,(data1_2[data1_2['conference_id'] > 0].drop_duplicates(subset = 'id',inplace = False)['id'].count() - data1_3.drop_duplicates(subset = 'id',inplace = False)['id'].count())/data1_3.drop_duplicates(subset = 'id',inplace = False)['id'].count())
print('五月新增用户参加升学人数:' ,(data1_2[data1_2['user_upgrade_group'] > 1].drop_duplicates(subset = 'id',inplace = False)['id'].count() -data1_4.drop_duplicates(subset = 'id',inplace = False)['id'].count() )/data1_4.drop_duplicates(subset = 'id',inplace = False)['id'].count())

五月新增用户参加会务人数: 16186
五月新增用户参加升学人数: 3069
四月新增用户参加会务人数: 61629
四月新增用户参加升学人数: 3349
五月环比四月参加会务人数: -0.7373639033571857
五月新增用户参加升学人数: -0.08360704687966557

# 2.用户活跃（3、4）

### 2.1用户活跃详细数据

In [8]:
sql2 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at > '2022-05-01 00:00:00'   and  updated_at < '2022-06-01 00:00:00'  "
data2 = jdt_db(sql2)
data2['des'] = np.where(data2['updated_at']>data2['created_at'],'重复',np.where(data2['updated_at']==data2['created_at'],'新增','错误'))
data2['time'] = pd.to_datetime(data2['created_at'],format='%Y-%m-%d').dt.date

15.143136501312256

In [9]:
sql3 = "SELECT	user_id,group_id,	province,	city,	created_at,	updated_at   ,DATE_FORMAT(created_at,'%Y-%m-%d')  as 'time'  FROM	jdt_user_logon_in WHERE  	updated_at >= '2022-04-01 00:00:00'  AND updated_at < '2022-05-01 00:00:00'  "
data3 = jdt_db(sql3)
data3['des'] = np.where(data3['updated_at']>data3['created_at'],'重复',np.where(data3['updated_at']==data3['created_at'],'新增','错误'))
data3['time'] = pd.to_datetime(data3['created_at'],format='%Y-%m-%d').dt.date

21.827873706817627

In [10]:
data_2_3 = pd.concat([data2,data3],axis = 0)
data_2_3.to_csv(r'data/2.1两个月用户活跃数据.csv')
data2['mouth'] = pd.to_datetime(data2['created_at'],format='%Y-%m-%d').dt.month

### 2.2用户活跃每日总数据

In [11]:
list_time_2 = ['2022-05-01','2022-05-02','2022-05-03','2022-05-04','2022-05-05','2022-05-06','2022-05-07','2022-05-08','2022-05-09','2022-05-10','2022-05-11','2022-05-12','2022-05-13','2022-05-14','2022-05-15','2022-05-16','2022-05-17','2022-05-18','2022-05-19','2022-05-20','2022-05-21','2022-05-22','2022-05-23','2022-05-24','2022-05-25','2022-05-26','2022-05-27','2022-05-28','2022-05-29','2022-05-30','2022-05-31']
list_time_3 = ['2022-04-01','2022-04-02','2022-04-03','2022-04-04','2022-04-05','2022-04-06','2022-04-07','2022-04-08','2022-04-09','2022-04-10','2022-04-11','2022-04-12','2022-04-13','2022-04-14','2022-04-15','2022-04-16','2022-04-17','2022-04-18','2022-04-19','2022-04-20','2022-04-21','2022-04-22','2022-04-23','2022-04-24','2022-04-25','2022-04-26','2022-04-27','2022-04-28','2022-04-29','2022-04-30']

In [12]:

data2['time'] = data2['time'].astype(str)
huoyue_2_cishu  = {}
huoyue_2_renshu  = {}
for i in list_time_2:
    x = data2[data2['time'] == i]
    y = x.drop_duplicates(subset = 'user_id',inplace = False)
    cishu = x['user_id'].count()
    renshu = y['user_id'].count()
    huoyue_2_cishu[i] = cishu
    huoyue_2_renshu[i] = renshu
    
    
data3['time'] = data3['time'].astype(str)
data3_drop = data3.drop_duplicates(subset='user_id',inplace=False)
huoyue_3_cishu  = {}
huoyue_3_renshu  = {}
for i in list_time_3:
    x = data3[data3['time'] == i]
    y = x.drop_duplicates(subset = 'user_id',inplace = False)
    cishu = x['user_id'].count()
    renshu = y['user_id'].count()
    huoyue_3_cishu[i] = cishu
    huoyue_3_renshu[i] = renshu   

    
huoyue_2_cishu.update(huoyue_3_cishu)
huoyue_cishu = huoyue_2_cishu
huoyue_2_renshu.update(huoyue_3_renshu)
huoyue_renshu = huoyue_2_renshu

huoyue_cishu = pd.DataFrame.from_dict(huoyue_cishu, orient='index',columns=['活跃次数'])
huoyue_renshu = pd.DataFrame.from_dict(huoyue_renshu, orient='index',columns=['活跃人数'])

huoyue = pd.concat([huoyue_cishu,huoyue_renshu],axis = 1)
huoyue['平均活跃次数'] = huoyue['活跃次数']   / huoyue['活跃人数']
huoyue.to_csv(r'data/2.2两个月用户活跃每日数据.csv')
huoyue

             活跃次数  活跃人数    平均活跃次数
2022-05-01   7216  5729  1.259557
2022-05-02  10140  8213  1.234628
2022-05-03   6955  5554  1.252251
2022-05-04   5906  4379  1.348710
2022-05-05   4946  3674  1.346217
...           ...   ...       ...
2022-04-26   8263  6748  1.224511
2022-04-27   8619  6228  1.383911
2022-04-28   6269  4453  1.407815
2022-04-29   5572  3944  1.412779
2022-04-30   4893  3678  1.330343

[61 rows x 3 columns]

### 2.3用户活跃状态分组

In [13]:
sql2_1 = "SELECT a.user_id     FROM	jdt_user_logon_in  as a LEFT JOIN  jdt_user as b on a.user_id = b.id WHERE	a.updated_at > '2022-05-01 00:00:00' 	AND a.updated_at < '2022-06-01 00:00:00' 	AND FROM_UNIXTIME( b.jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00' 	and  a.user_id not in (		SELECT		user_id		FROM		jdt_user_logon_in		WHERE		updated_at > '2022-02-01 00:00:00' 	AND updated_at < '2022-05-01 00:00:00' 		GROUP BY	user_id	)GROUP BY	a.user_id"
data2_1 = jdt_db(sql2_1)
sql2_2 = "SELECT	a.user_id  FROM jdt_user_logon_in AS a 	LEFT JOIN jdt_user AS b ON a.user_id = b.id  WHERE 	a.updated_at > '2022-04-01 00:00:00' 	AND a.updated_at < '2022-05-01 00:00:00' 	AND FROM_UNIXTIME( b.jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-04-01 00:00:00' AND a.user_id NOT IN ( SELECT user_id FROM jdt_user_logon_in WHERE updated_at > '2022-01-01 00:00:00' 		AND updated_at < '2022-04-01 00:00:00' 	GROUP BY	user_id 	) GROUP BY	a.user_id "
data2_2 = jdt_db(sql2_2)

7.989363193511963
9.203230142593384

In [14]:
data_huuoyue_chongfu = pd.merge(data2.drop_duplicates(subset='user_id',inplace=False),data3.drop_duplicates(subset='user_id',inplace=False),on='user_id')
print('本月用户活跃人数：MAU',data2.drop_duplicates(subset='user_id',inplace=False)['user_id'].count())
print('本月用户新活跃数:' , data2.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()- data1[data1['time'] == 5]['id'].count()-data_huuoyue_chongfu['user_id'].count())
print('五月用户新注册数:',  data1[data1['time'] == 5]['id'].count())
print('四月活跃留存人数:' , data_huuoyue_chongfu['user_id'].count())
print('90日未登录唤醒人数:',data2_1['user_id'].count())
print('90日用户唤醒环比：',(data2_1['user_id'].count()- data2_2['user_id'].count())/data2_1['user_id'].count())

本月用户活跃人数：MAU 100308
本月用户新活跃数: 20954
五月用户新注册数: 36053
四月活跃留存人数: 43301
90日未登录唤醒人数: 10509
90日用户唤醒环比： -0.7123418022647254

### 2.4活跃老用户粘性

In [15]:
sql2_3 = "SELECT	user_id,	group_id,	province,	city,	created_at,	updated_at,	DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time' FROM	jdt_user_logon_in  WHERE	updated_at > '2022-05-01 00:00:00' 	AND updated_at < '2022-06-01 00:00:00' 	AND user_id NOT IN (	SELECT		id	FROM		jdt_user 	WHERE		FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-05-01 00:00:00' 		AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-06-01 00:00:00' 		)	"
data2_3 = jdt_db(sql2_3)

16.142268657684326

In [16]:
data2_3['time'] = pd.to_datetime(data2_3['created_at'],format='%Y-%m-%d').dt.date
data2_3['time'] = data2_3['time'].astype(str)
data2_3_drop = data2_3.drop_duplicates(subset='user_id',inplace=False)
huoyue_2_3_cishu  = {}
huoyue_2_3_renshu  = {}
for i in list_time_2:
    x = data2_3[data2_3['time'] == i]
    y = x.drop_duplicates(subset = 'user_id',inplace = False)
    cishu = x['user_id'].count()
    renshu = y['user_id'].count()
    huoyue_2_3_cishu[i] = cishu
    huoyue_2_3_renshu[i] = renshu
    


huoyue_cishu_2_3 = pd.DataFrame.from_dict(huoyue_2_3_cishu, orient='index',columns=['活跃次数'])
huoyue_renshu_2_3 = pd.DataFrame.from_dict(huoyue_2_3_renshu, orient='index',columns=['活跃人数'])

huoyue_2_3 = pd.concat([huoyue_cishu_2_3,huoyue_renshu_2_3],axis = 1)
huoyue_2_3['平均活跃次数'] = huoyue_2_3['活跃次数']   / huoyue_2_3['活跃人数']



print('老用户MAU：',data2_3_drop['user_id'].count())
print('老用户活跃粘性：',huoyue_2_3['活跃人数'].sum()/data2_3_drop['user_id'].count())

老用户MAU： 64923
老用户活跃粘性： 1.7978220353341652

### 2.5各个省份用户活跃人数与活跃次数，平均活跃用户粘性

In [53]:
sql2_5 = "SELECT   count(user_id),	user_id,	group_id,	province,	city,	created_at,	updated_at,	DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time' FROM	jdt_user_logon_in WHERE updated_at > '2022-05-01 00:00:00' 	AND updated_at < '2022-06-01 00:00:00' 	AND user_id NOT IN ( 	SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-05-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-06-01 00:00:00' 	)	GROUP BY	DATE_FORMAT( created_at, '%Y-%m-%d' ),	user_id"
data2_5 = jdt_db(sql2_5)
data2_5['province'] = data2_5['province'].fillna('无')
data2_5['group_id'] = data2_5['group_id'].fillna(0)
list_province_1 = list(data2_5.drop_duplicates(subset='province',inplace=False)['province'])
list_group_1 = list(data2_5.drop_duplicates(subset='group_id',inplace=False)['group_id'])

12.17880916595459

In [62]:
province_1  = {}
province_2  = {}
province_3  = {}
province_4  = {}
province_5  = {}


for  i in list_province_1:
    data = data2_5[data2_5['province'] ==i]
    x1 = data['count(user_id)'].sum()
    x2 = data['user_id'].count()
    x3 = data.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()
    x4 = x1/x3
    x5 = x2/x3
    
    
    province_1[i] = x1
    province_2[i] = x2
    province_3[i] = x3
    province_4[i] = x4
    province_5[i] = x5
    

province_data1 = pd.DataFrame.from_dict(province_1, orient='index',columns=['用户活跃次数'])  
province_data2 = pd.DataFrame.from_dict(province_2, orient='index',columns=['用户DAU之和'])  
province_data3 = pd.DataFrame.from_dict(province_3, orient='index',columns=['用户活跃MAU'])  
province_data4 = pd.DataFrame.from_dict(province_4, orient='index',columns=['用户平均活跃次数'])  
province_data5 = pd.DataFrame.from_dict(province_5, orient='index',columns=['用户活跃粘性'])  
province_data = pd.concat([province_data1,province_data2],axis = 1)
province_data = pd.concat([province_data,province_data3],axis = 1)
province_data = pd.concat([province_data,province_data4],axis = 1)
province_data = pd.concat([province_data,province_data5],axis = 1)


province_data.to_csv(r'data/2.5各个省份活跃数据.csv')

### 2.6各个级别用户活跃人数与活跃次数，平均活跃用户粘性

In [63]:
group_1  = {}
group_2  = {}
group_3  = {}
group_4  = {}
group_5  = {}


for  i in list_group_1:
    data = data2_5[data2_5['group_id'] ==i]
    x1 = data['count(user_id)'].sum()
    x2 = data['user_id'].count()
    x3 = data.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()
    x4 = x1/x3
    x5 = x2/x3
    
    
    group_1[i] = x1
    group_2[i] = x2
    group_3[i] = x3
    group_4[i] = x4
    group_5[i] = x5
    

group_data1 = pd.DataFrame.from_dict(group_1, orient='index',columns=['用户活跃次数'])  
group_data2 = pd.DataFrame.from_dict(group_2, orient='index',columns=['用户DAU之和'])  
group_data3 = pd.DataFrame.from_dict(group_3, orient='index',columns=['用户活跃MAU'])  
group_data4 = pd.DataFrame.from_dict(group_4, orient='index',columns=['用户平均活跃次数'])  
group_data5 = pd.DataFrame.from_dict(group_5, orient='index',columns=['用户活跃粘性'])  
group_data = pd.concat([group_data1,group_data1],axis = 1)
group_data = pd.concat([group_data,group_data3],axis = 1)
group_data = pd.concat([group_data,group_data4],axis = 1)
group_data = pd.concat([group_data,group_data5],axis = 1)


group_data.to_csv(r'data/2.6各个级别活跃数据.csv')

In [64]:
group_data.head()

   用户活跃次数  用户活跃次数  用户活跃MAU  用户平均活跃次数    用户活跃粘性
3   55443   55443    20017  2.769796  2.059100
2   34691   34691    17153  2.022445  1.612663
1   33837   33837    23265  1.454417  1.179583
5   12211   12211     2341  5.216147  3.504485
4   17515   17515     4498  3.893953  2.750111

In [56]:
sql2_6 = "SELECT   count(user_id),	user_id,	group_id,	province,	city,	created_at,	updated_at,	DATE_FORMAT( created_at, '%Y-%m-%d' ) AS 'time' FROM	jdt_user_logon_in WHERE updated_at > '2022-04-01 00:00:00' 	AND updated_at < '2022-05-01 00:00:00' 	AND user_id NOT IN ( 	SELECT id FROM jdt_user WHERE FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-04-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-05-01 00:00:00' 	)	GROUP BY	DATE_FORMAT( created_at, '%Y-%m-%d' ),	user_id"
data2_6 = jdt_db(sql2_6)
data2_6['group_id'] = data2_6['group_id'].fillna(0)

15.296623229980469

In [59]:
group_1  = {}
group_2  = {}
group_3  = {}
group_4  = {}
group_5  = {}


for  i in list_group_1:
    data = data2_6[data2_6['group_id'] ==i]
    x1 = data['count(user_id)'].sum()
    x2 = data['user_id'].count()
    x3 = data.drop_duplicates(subset='user_id',inplace=False)['user_id'].count()
    x4 = x1/x3
    x5 = x2/x3
    
    
    group_1[i] = x1
    group_2[i] = x2
    group_3[i] = x3
    group_4[i] = x4
    group_5[i] = x5
    

group_data1 = pd.DataFrame.from_dict(group_1, orient='index',columns=['用户活跃次数'])  
group_data2 = pd.DataFrame.from_dict(group_2, orient='index',columns=['用户DAU之和'])  
group_data3 = pd.DataFrame.from_dict(group_3, orient='index',columns=['用户活跃MAU'])  
group_data4 = pd.DataFrame.from_dict(group_4, orient='index',columns=['用户平均活跃次数'])  
group_data5 = pd.DataFrame.from_dict(group_5, orient='index',columns=['用户活跃粘性'])  
group_data_1 = pd.concat([group_data1,group_data1],axis = 1)
group_data_1 = pd.concat([group_data_1,group_data3],axis = 1)
group_data_1 = pd.concat([group_data_1,group_data4],axis = 1)
group_data_1 = pd.concat([group_data_1,group_data5],axis = 1)


group_data_1.to_csv(r'data/2.7上个月各个级别活跃数据.csv')

In [65]:
group_data_1.head()

   用户活跃次数  用户活跃次数  用户活跃MAU  用户平均活跃次数    用户活跃粘性
3   62675   62675    20422  3.068994  2.290716
2   30752   30752    14573  2.110204  1.672614
1   55918   55918    36010  1.552846  1.286198
5   13115   13115     2249  5.831481  3.894620
4   21179   21179     4618  4.586184  3.112386

# 用户留存(3、4)

In [17]:
sql4 = "SELECT	a.id,	a.user_province,	DATE_FORMAT(FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ), '%Y-%m-%d' )  AS '日期',	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) AS '时间',	a.age,	a.gender,	a.group_id,	b.created_at,	DATE_FORMAT( b.created_at, '%Y-%m-%d' ) AS 'time' FROM	jdt_user AS a	LEFT JOIN jdt_user_logon_in AS b ON a.id = b.user_id   WHERE	FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) >= '2022-05-01 00:00:00' 	AND FROM_UNIXTIME( jointime, '%Y-%m-%d %H:%i:%s' ) < '2022-06-01 00:00:00'"
data4 = jdt_db(sql4)

data4['时间']= pd.to_datetime(data4['时间'])
data4['created_at']= pd.to_datetime(data4['created_at'])
data4['日期']= pd.to_datetime(data4['日期'])
data4['time']= pd.to_datetime(data4['time'])

data4['相隔时间'] = data4['created_at'] - data4['时间']

data4['相隔时间'] = data4['相隔时间'].map(lambda x: x/np.timedelta64(1,'h'))

data4['留存'] = np.where(((data4['相隔时间']>= 0.05  )   & (data4['相隔时间'] <24 )),'次日留存',np.where(((data4['相隔时间']>= 24  )   & (data4['相隔时间'] <186 )),'7日留存',np.where(((data4['相隔时间']>= 186  )   & (data4['相隔时间'] <360 )),'15日留存',np.where(((data4['相隔时间']>= 360 )  & (data4['相隔时间'] <720 )),'30日留存','未知'))))

data4.to_csv(r'data/data4.csv')

6.10333776473999

In [18]:
data4.head(1)

,id,user_province,日期,时间,age,gender,group_id,created_at,time,相隔时间,留存
0,2061080,河北省,2022-05-01,2022-05-01 00:01:41,0,0,1,2022-05-01 00:01:41,2022-05-01,0.0,未知

In [24]:
print('次日留存:',data4[data4['留存'] == '次日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print('七日留存:',data4[data4['留存'] == '7日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print('15日留存:',data4[data4['留存'] == '15日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())
print('30日留存:',data4[data4['留存'] == '30日留存'].drop_duplicates(subset='id',inplace=False)['id'].count())

次日留存: 2597
七日留存: 1843
15日留存: 1286
30日留存: 978